[2016-12-22 04:23] ProQuestionAsker commented on #230
Hi @jbkunst, thank you so much for the quick (and very thorough) response!

I have so many options now!! I'l mess with this in a bit and get back to you with which one ended up working best for my use case.  Thanks again!

[2016-12-22 06:11] tbenschop commented on #150
Thanks, unfortunately I can't place files on the server, I only can change the r code. So I need to find a workaround to get the hchart working without new package versions... @jbkunst is there a way to rewrite the hchart or any other bypass? I would like to prevent the option to rewrite the charts without using the hchart shortcut...

[2016-12-22 08:23] ProQuestionAsker commented on #230
Hmm @jbkunst, I'm trying to test these options, but I'm getting an error when I try to use hcaes() that reads "Error in eval(expr, envir, enclos) : could not find function "hcaes"". I tried running just the hchart() function with hcaes and still received the error "Error: could not find function "hcaes"".  I tried downloading the latest version of highcharter just in case I was using an old versio

[2016-12-22 09:27] sagax85 opened #231 "release v0.5.0"
hey,

i saw that you completed the milestone v0.5.0. Would it be possible to make a release for it? :) We'd like to use some features of that version.

thanks a lot!

[2016-12-22 13:14] jbkunst commented on #150
`hchart` is kind of _experimental_ (in 0.4.0) shortcut, and as a shorcut is not __that__ robust or clear as write/code the explicit chart what you want using the API. Being that said I recommend you write the chart using the `hc_add_series` and friend to get the chart. I guess this is possible between the requirements.

[2016-12-22 13:15] jbkunst commented on #230
Sorry @ProQuestionAsker! I forgot to tell you I was using the development version (0.5.0) of highcharter, which you can download using `devtools` package. Tell me if you have look with this ;).

[2016-12-22 13:24] jbkunst commented on #231
Hey @sagax85,

Yep, I'm almost there to make a new release. I want to keep testing, in particular I want to rebuild all jkunst.com/highcharter/ to this new version first to be calm and ensure I'm not breaking anything.

Probably I will make the new release in mid of January.

[2016-12-22 14:24] tbenschop commented on #150
@jbkunst Thanks! I'm just pushing them to get us the latest dplyr version.

[2016-12-22 14:56] ochees opened #232 "hc_colorAxis option"
Hi,

Thanks for this package. Is it possible to use discrete scale (breaks and colour clearly defined) with the heatmap plot or map plot ?
I saw this page : [http://api.highcharts.com/highmaps/colorAxis.dataClasses](url) but i don't know how to use in the function `hc_colorAxis`

thanks a lot !

[2016-12-22 15:15] sagax85 commented on #231
thanks @jbkunst for all the work 👍

[2016-12-22 15:47] ochees commented on #232
I found an answer here :  [https://github.com/jbkunst/highcharter/issues/120](url)
and `hc_colorAxis(hc,dataClasses=color_classes(breaks = breaks, colors =colors))`

thanks a lot !

[2016-12-22 17:15] jbkunst commented on #232
You're welcome.

You forgot close the issue! :wink:

[2016-12-22 17:15] #232 closed

[2016-12-22 17:17] jbkunst commented on #150
I'm not sure if this about dplyr version; surely/maybe is a highcharter bug. Hope this work! Good luck.

[2016-12-22 17:17] #231 closed

[2016-12-23 06:40] prateekjoshi565 opened #233 "Creating a point data motion chart with worldmap as background"
Hi,

I have a 40,000 rows dataset with **'year'**, **'latitude'**, **'longitude'**, **'id'**, and **'value'** as its columns. The 'year' values range from 1900 to 2013 and the 'id' is unique.

I want to plot a motion point-chart on a worldmap. Please help me.

[2016-12-23 15:19] jbkunst commented on #209
Hi @christopheLouat !!!!

Uff, so much time but I worked on `hcmap` function and fix some details in the highcharts binding.

Try the following in the development version:

[code]

[2016-12-23 15:20] #209 closed

[2016-12-23 15:46] christopheLouat commented on #209
Hi Joshua!

thanks a lot for the corrections on the hcmap function. The bubble map is great!!!

[2016-12-23 16:08] mportillo14 opened #234 "Coloring one word in title"
I'm having trouble coloring select words in the title.

`hc_title(text = "Annual Growth: <font color="red">Predicted</font> vs <font color="blue">Actual</font>",
                 style = list(fontWeight = "bold", useHTML = TRUE),
                 align = "left")`

I know I can do custom bold `<b>` or italicized words `<i>` in the title, but how would I customize the color for select words in the t

[2016-12-23 16:45] jbkunst commented on #234
Hi @mportillo14

First of all, this type of question if more appropiate for stackoverflow ;).

Secondly, quotation is not really a highcharter issue :P. You need to know how to make quote in a string. You can do it at least in 2 ways:

[code]

Finally the  `useHTML` argument need to be in the `hc_title` as an option instead of `style` argument ;).

Good luck!

[2016-12-23 16:45] #234 closed

[2016-12-23 17:04] mportillo14 commented on #234
Thank you very much! My apologies about the question. I'll direct these types of questions to stackoverflow in the future.

[2016-12-23 17:06] jbkunst commented on #234
@mportillo14

I'll look every day the [r] and [highcharts] tags ;)! http://stackoverflow.com/search?tab=newest&q=%5br%5d%20highcharts

[2016-12-26 19:57] #229 closed

[2016-12-26 19:57] #227 closed

[2016-12-26 19:57] #198 closed

[2016-12-26 19:58] #191 closed

[2016-12-26 20:15] jbkunst commented on #233
Hi @prateekjoshi565

Have you some code of what ahve you done already? ;)

[2016-12-26 20:32] #139 closed

[2016-12-27 08:15] prateekjoshi565 commented on #233
This is what I am trying to do but no luck...

`library(dplyr)
library(geojsonio)
library(highcharter)

# sample data
met = data.frame(year = c(1999,1999,2001,2001,2003,2005,2005),
                 latitude = c(28,41,55,50,22,33,35),
                 longitude = c(77,28,37,4,43,18,139),
                 id = c(1,2,3,4,5,6,7),
                 value = c(100,80,200,170,130,60,150))

met_hc = geojson

[2016-12-27 11:35] VPlazaM opened #235 "Error using hc_motion slider."
@jbkunst,
I have been suffering problems with the slider created through hc_motion function. Basically, this slider is based on a years's sequence (10 of them) but the main problem is that it goes from 2005 to 2014 in the first third of the slider, and then continues empty and not changing anything to the end. It takes 10 seconds more or less so it's useless.

Thanks for your help!

[2016-12-27 12:59] jbkunst commented on #235
Hi @VPlazaM

Ok, what have you tried already?

[2016-12-27 13:04] jbkunst commented on #233
@prateekjoshi565

Do you want a point with moving across the map? Not sure what you want. Do you have a similar example to replicate?

[2016-12-27 13:05] VPlazaM commented on #235
I have tried changing the updateinterval, the data structure and every option that hc_motion gives to me. I think that the problem is caused by the combination of tabsetpanels, mainpanels and absolutepanels that I'm currently using in my ui.R file that somehow is making the slider not work propertly.

[2016-12-27 13:16] prateekjoshi565 commented on #233
@jbkunst

I want points of a particular year only to be displayed at a time. As the value of the year is changed, the corresponding points of that year should get displayed. I don't how to prepare my data for this and also how to put a slider to change year variable.

[2016-12-27 13:46] jbkunst commented on #235
I'm meant code. A reproducible example.

[2016-12-27 23:55] ProQuestionAsker commented on #230
@jbkunst Sorry for the delay! I ended up just adding the label name to to the tool tip because I couldn't quite get any of those to work the way I needed.  Also, in downloading the development version, I ran into a few other problems:

- When you zoom in on column charts, the x-axis labels stop working. Then, zooming all the way out results in a complete disappearance of the columns you had just z

[2016-12-28 09:40] VPlazaM commented on #235
It's complicated due to data's nature and confidentiality agreements, let's see if it's enough:

getMapHighCharts <- function(map_dataframe) {

  map_dataframe <- calculatePerc(map_dataframe)

  data_to_represent <- map_dataframe %>%
    group_by(CODMUN) %>%
    do(item = list(
      CODMUN = first(.$CODMUN),
      sequence = .$perc,
      value = first(.$perc))) %>%
    .$item

  clases <- classI

[2016-12-28 13:35] jbkunst commented on #230
Hi @ProQuestionAsker!

- Can you give a replicable example? Maybe post something in http://rpubs.com/. I tried with `hc_chart(zoomType = ...)` but the behavior is normal.

- why `color = "section"` and not `color = section`?

- Yes, in the previous version if you use `color = variable` the same color palette is used to color the points/bars not matter what `hc_theme_*` is used, because the functio

[2016-12-28 20:37] jbkunst commented on #235
Not sure if this help. Can you chart the map correctly using with out shiny? If this is the case surely if an css issue as you said previously.

[2016-12-29 20:38] jbkunst opened #236 "viridisLite from imports to suggests"
viridisLite from imports to suggests

[2016-12-29 20:39] jbkunst opened #237 "removing colize_vector function"

[2017-01-03 15:41] NikoMak commented on #151
Hi,

I had a similar problem, where the html file just showed a blank page when the selfcontained option was set to true in the saveWidget function. This happened using Firefox (but an older version due to company restrictions). However I tried opening the html file with a different browser (IE 11) and it rendered the graph like it was supposed to.
Try using a different browser.

[2017-01-03 20:06] jbkunst commented on #235
HI @VPlazaM. Any news in this issue?

[2017-01-03 21:22] jbkunst commented on #151
I will close this due inactivity ;)! We can reopen the issue if is needed.

[2017-01-03 21:22] #151 closed

[2017-01-03 21:23] jbkunst commented on #207
I will close this due inactivity ;)! We can reopen the issue if is needed.

[2017-01-03 21:23] #207 closed

[2017-01-03 21:24] jbkunst commented on #125
We can reopen the issue if is needed.

[2017-01-03 21:24] #125 closed

[2017-01-03 21:25] jbkunst commented on #230
I will close this due inactivity ;)! We can reopen the issue if is needed. :B.

[2017-01-03 21:25] #230 closed

[2017-01-03 21:26] jbkunst commented on #202
I will close this due inactivity ;)! We can reopen the issue if is needed.

[2017-01-03 21:26] #202 closed

[2017-01-03 21:27] jbkunst commented on #215
closes in #218

[2017-01-03 21:27] #215 closed

[2017-01-04 15:18] jbkunst commented on #233
Hi @prateekjoshi565

Sorry for late, you need to create a data frame with columns: lat, lon, z, and sequence, wich is a colum of numbers, The use the `hcmap` function to create the map, hc_add_series to add the data frame data, and then use `hc_motion` to set option to the pluging.

Example: http://rpubs.com/jbkunst/highcharter-issue-233

[2017-01-04 15:22] #233 closed

[2017-01-05 19:14] LeviWeible opened #238 "time series stacked area graph drilldown"
Is there a way of drilldown from stacked area to stacked area? I have tried entering the df as a list through list parse and list parse 2 but there doesn't seem to be a way to group the data like there is in add_series_df.

I have also tried listing multiple series in the drilldown function but the graph only outputs the last series entered.

I would like to be able to click on one band of the sta

[2017-01-06 14:04] rtooker opened #239 "export JSON only (no widget)"
This may be possible already - but can't find in the docs. Is there a way to get to the JSON via R so can be embedded manually in a web page rather than using the widget? If not can this be added. Brilliant wrapper by the way.

[2017-01-06 14:07] rtooker commented on #239
Sorry -found it in another issue - export_hc

[2017-01-06 14:07] #239 closed

[2017-01-06 14:47] jbkunst commented on #238
Hi @LeviWeible

Do you have a link with a similiar type of chart to try to replicate? What have you tried (code)?

[2017-01-06 16:39] LeviWeible commented on #238
Thank you for your quick reply.

here is a rough example of what I would like to do.
[http://jsfiddle.net/UKC83/2/](http://jsfiddle.net/UKC83/2/)

I would like to have a stacked area graph as the drilldown as well.
Also I need my program to run from objects containing the data and not hard coded in.

As far as coding, I have tried many methods dealing mostly with different attempts at data structu

[2017-01-09 10:36] VPlazaM commented on #235
Sorry @jbkunst, I was on holidays without access to my work pc. I'm still struggled at the same point, I'm going to try solve it, I'll keep you updated but if it's something about the shiny's app I'm not sure how to fix it because I can't change the base of this project.

[2017-01-10 14:44] VPlazaM commented on #235
Ok @jbkunst, I have fixed the problem, it was a NA value into the dataframe that was making the chart not working well. Thx for your help.

[2017-01-10 14:44] #235 closed

[2017-01-10 14:45] jbkunst commented on #235
Nice!

[2017-01-10 15:21] davidmanero commented on #48
This function will be great.

I've problems with the drilldown event in a 3Dpie chart.

I've try this:

hc_plotOptions(pie = list(depth = 40,
                                cursor = "pointer",
                                point = list(events = list(
                                    click = JS("function() {Shiny.onInputChange('pie', name: this.point.name);}")
                          ))))

[2017-01-10 16:25] jbkunst commented on #48
See your browse console.

I think you need other set of brackets:

`Shiny.onInputChange('pie', **{** name: this.point.name **}** ) `

Next time, try format your code using ``` ;)!

[2017-01-12 19:21] sy2816 opened #240 "Using hc_colorAxis on multi-level treemap"
Hello, I've been trying to figure out how to get multi-level tree maps to display the color axis in the legend.

For a reproducible example, I tried adding the color axis to one of the examples on the website.

[code]
But I just get this generic colorAxis legend and no matter what I set the min/max color values to, it never seems to map to the treemap.
![image](https://cloud.githubusercontent.com/

[2017-01-13 15:04] martinjhnhadley opened #241 "hc_add_series_df(df) returns silently failed highchart if sum(colnames(df)=="series")>=1"
If you provide `hc_add_series_df` with a data.frame (or tibble) with a colname equal to "series" a viewer will successfully be spawned but will not contain a highchart.

Example:

[code]

Output from console in browser:

[code]

It might well say somewhere in the documentation that colnames should NOT be series - which I think is reasonable but I missed this.

[2017-01-13 18:39] jbkunst commented on #241
Hi @martinjhnhadley

I missed too, I didn't know about this issue. I will fix this. Thanks.

`hc_add_series_df` will be deprecated in the next version. The new sintax when the data object is data frame is:

[code]

[2017-01-14 02:11] jbkunst opened #242 "renaming hcwaffle to hcicon"
The hcwaffle doesnt make a waffle!

[2017-01-14 02:12] jbkunst commented on #242
Icon due the similar result with https://github.com/tomgp/d3-iconarray

[2017-01-14 03:29] #242 closed

[2017-01-16 20:29] KaterinaKou opened #243 "Tooltip with map point series"
Hello! I have been using the tooltip option with no problems so far but I have a bit of trouble figuring out how I can use it when adding a mappoint type of series.
I have a data frame and I want to display more info on the tooltip (e.g. "ip" column) but I can't see how I can parse the dataframe accordingly in that case.  Map and points show up fine.

My code:

[code]
Thanks in advance!

[2017-01-16 20:35] jbkunst commented on #243
Hi @KaterinaKou

You can check this examples.

 - http://jkunst.com/highcharter/highmaps.html#advanced-maps, and
 - http://jkunst.com/highcharter/highmaps.html#adding-more-data

The first one use something like "{point.properties.ip}" is you use geojson. The second one uses only lat and long, maybe this can be a easier approach if your map live in https://code.highcharts.com/mapdata/.

Hope this h

[2017-01-16 20:42] KaterinaKou commented on #243
First approach worked fine. Thank you!

[2017-01-16 20:45] #243 closed

[2017-01-17 13:34] jbkunst opened #244 "fix vignettes titles"

[2017-01-17 13:49] #244 closed

[2017-01-18 10:48] davidmanero commented on #48
Thanks you, it works!!!

[2017-01-18 13:45] jbkunst opened #245 "Learn crosstalk, why not?"

[2017-01-18 21:46] zhangw2 opened #246 "export_hc() bug"
my previous code broke when running export_hc().

the error message is

Error in if (char == "$") { : missing value where TRUE/FALSE needed

I also run line by line in the `export_hc()` function. The error message comes when I run the following line.

[code]

Code below:

[code]

Someone ran the code and it was error free. My setup below

[code]

[2017-01-19 10:25] Mathieu-M commented on #183
Hello,

I am also having the need of a common legend for different charts (several pie charts and a column chart). I was able to find a solution in javascript (https://stackoverflow.com/questions/16730755/two-pies-one-legend-with-unique-items-merge-legends) but I can't find a way to do that in R.

I am using shiny and I would love an example of how to use the solution posted here by @joh024.

Than

[2017-01-20 13:48] jbkunst commented on #246
Hi @zhangw2

I will look into it. It's a know bug this when you use javascript function. I'll let you know if I can fix this ;).

[2017-01-23 20:24] jbkunst opened #247 "rework export_hc"
- fix #246.
- add `as` param.
- add `name` param.

[2017-01-23 20:30] #246 closed

[2017-01-23 20:30] #247 closed

[2017-01-23 20:32] jbkunst commented on #246
@zhangw2

Can you test the dev version. I used your code and it works without issues. Now there are some new parameters, you need to use `as = "contanier"` to keep the previous behavior.

[2017-01-23 20:36] zhangw2 commented on #246
@jbkunst

No problem. I will do it later today at home. Thanks very much for getting on it so quickly!

[2017-01-23 20:52] #241 closed

[2017-01-23 20:53] jbkunst commented on #241
Hi @martinjhnhadley

The issue was fixed. You can use:

[code]

Not sure if there are other reserved names ;).  Thanks for report this.

Regards,

[2017-01-24 00:24] joh024 commented on #183
1. Place all the highcharts to be linked inside the same parent `div`, with class `hc-link-legend`

[code]

2. The series for the various charts to be linked must all be provided an `id` attribute, which is used to identify the series across the charts. Re-using the series' `name` as its `id` is ideal.

[code]

3. Include the code for `sharelegend` provided above, then pass it via `hc_plotOptions`

[2017-01-24 06:27] zhangw2 commented on #246
@jbkunst

Tested. It worked fine and produced identical results when using ' as = "container" ' parameter.

One idea is to have a parameter in the `export_hc()` to change the name of the ID, i.e., instead of having '#container', one can name it whatever sensible.

Currently, I do the above by reading the the webpage, `gsub()` it and then 'writeLine()'.

[2017-01-24 12:37] jbkunst commented on #246
@zhangw2

Great idea! I've update the option so you can use:

[code]
 Thanks!

[2017-01-24 14:22] Mathieu-M commented on #183
Thanks a lot for all these detailed explanations.

Yuou made my day.

Cheers,

Mathieu

[2017-01-24 15:11] martinjhnhadley commented on #241
That's awesome - thanks!

I should ask somewhere else, maybe, but until the new version hits CRAN I've been using the following to smuggle additional data into charts for tooltips etc... does hcaes allow similar data smuggling?

[code]

[2017-01-24 15:46] jbkunst commented on #241
You dont need the `df_to_hc_lists`,

First, you can do the same with `list_parse`, this transform a data frame into a list where every item in the list is a row of the original data frame, but again `df_to_hc_lists` neither `list_parse` are necessary.

[code]
Here It's better use  `hc_add_series` (hc_add_series.data.frame) with basically do:
- Take `hcaes` arguments to rename the columns, so you c

[2017-01-24 16:09] martinjhnhadley commented on #241
That was very clear - really looking forward to using it! Hadn't realised 0.5.0 hit CRAN already, I'm going to update for all the goodness right now 😃

[2017-01-25 23:28] ultinomics opened #248 "Add hcaes_string()"
Added a new function `hcaes_string()`. Pull request submitted.

[2017-01-26 01:30] #170 closed

[2017-01-26 01:34] jbkunst commented on #248
Thanks again!

[2017-01-26 01:34] #248 closed

[2017-01-26 21:21] #167 closed

[2017-01-27 10:35] juansecal opened #250 "highcharter"
Hi, since your las update I guess I have the following error

Error in hchart.data.frame(data_plot, "scatter", hcaes(x = retention,  :
  could not find function "data_to_series"

Thank you for your help

[2017-01-27 10:44] #250 closed

[2017-01-27 13:22] jbkunst commented on #112
Start WIP http://jsfiddle.net/jbkunst/qrjccvu7/

[2017-01-27 19:33] jbkunst opened #251 "plugin multicolor series"
plugin multicolor series

[2017-01-27 19:33] #251 closed

[2017-01-28 04:10] jbkunst commented on #245
http://jsfiddle.net/gh/get/jquery/3.1.1/highcharts/highcharts/tree/master/samples/highcharts/chart/events-selection-points/

[2017-01-30 17:13] doug-friedman opened #252 "hc_add_series.xts X-axis not defaulting to stock type"
I'm not entirely sure if this is by design, but the new hc_add_series.xts function that is replacing the now deprecated hc_add_xts function does not specify the X-axis is of "stock" type which results in a numeric version of the date timestamps.  #213

Here's a simple example:

[code]

@Schec

[2017-01-30 17:42] jbkunst commented on #252
Hi @doug-friedman

Yep, the old `hc_add_series_xts` changes the type of chart to stock. I decided the funcions `hc_add_series.*` add and only __add__ data , i.e. no modify other attributes of the chart.

Anyway you can do:

[code]

Hope this way looks natural to you.

[2017-01-30 18:08] doug-friedman commented on #252
Hey @jbkunst,
Thanks so much for the quick answer on this! This is perfect.

Best,
Doug

[2017-01-30 18:08] #252 closed

[2017-01-31 10:27] iclarke opened #253 "Plotting xts series with missing values (NA) in Highcharter"
Hi there,

First let me congratulate you for the wonderful package Highcharter is, probably the best interactive charting tool around by a large margin.

My issue involves plotting a multivariate time series where one series contains missing values (NA). When executing the code below RStudio is unable to render a chart, could you point me in the right direction ?

[code]
Many thanks

Samy

[2017-01-31 10:32] iclarke opened #254 "Highcharter licensing for professional use"
Good morning,

I have been experimenting with Highcharter over the past couple weeks with great satisfaction. I am conscious that Highcharts is not free for professional use, so I assume Highcharter is not free either. Would purchasing a Highchart license allow me to use Highcharter in R for professional use ? Or should we follow a different approach and deal with yourself directly ?

Again, congr

[2017-01-31 13:07] jbkunst commented on #253
Hi @iclarke Samy,

It's seem the `hchart` treat your xts object in a wierd way. Usually the (univariate?) xts objects with NA values are treated in the expected way:
[code]
![image](https://cloud.githubusercontent.com/assets/56481/22465796/3c094608-e79c-11e6-8868-fc9cc84f1678.png)

So, I'm not sure why you transform the data to data frame. Anyway, if this is your case, you can do it a kind of manu

[2017-01-31 13:15] jbkunst commented on #254
Good morning @iclarke Samy!

Happy to read that!

Highcharter is just a wrapper and the R code in the wrapper is open source. So, if you want to use for professional use you need a highcarts license. For highcharters users there is a discount http://announcements.highcharts.com/foss/ ;).

With that license highcharts offer you support 24/7 etc, but not sure if they offer the R support if you have

[2017-01-31 15:11] lissahyacinth opened #255 "hchart_aes fails to evaluate variables in parent environment"
When defining a local variable - date_variable - to select a column by, it is expected that by defining eval(date_variable), hchart will then use that column.

Attached is an example of expected and actual behaviour.

[code]

[2017-01-31 21:27] jbkunst commented on #255
Hi @lissahyacinth

Thanks for this, but I'm new in this SE and NSE. So not sure if this can be solved using the `hcaes_` function:

Instead of:

[code]

You can use for SE:

[code]

Can you tell me if the issue can be solve using `hcaes_`?

[2017-02-01 10:30] lissahyacinth commented on #255
It does fix that test, but it doesn't fix the issue I'm having in prod, so I guess I need to improve my example!

So my prod is more similar to the below, where I'm using a NSE to evaluate between input options on a Shiny dashboard - hence the date_variable, and I'm then doing a manipulation on the Y variable similar to mean, and a grouping variable.

I can create a failure without the group, so I

[2017-02-01 12:51] jbkunst commented on #255
Ok, in got it. Can you send a minimal reproducible shiny example? If we can't fix it with the actual version it will be sure add the PR to the master ;)!

Thanks in advance.

[2017-02-01 13:28] lissahyacinth commented on #255
Unfortunately, I think I've figured out how to do it.

The below is the example, and the issue I was having was that hcaes_ wasn't accepting round(value, 2) as it wants to accept a text result, but it seems to be comfortable accepting a function if it's wrapped in text.

I think it might be easier to mark this closed & add some documentation that includes shows this use, because this isn't typical

[2017-02-01 13:47] jbkunst commented on #255
Ok, as you wish, but I have some questions/recommendations

To test, I modified the app with:

[code]

Qs:
- Why use `eval()` if `input$TimeSeriesSelector` is a character so it can be used with `hcaes_`

Rs
- You can put `hcaes_(..,  y = "value")` and control the print decimal using `hc_tooltip(valueDecimals = 2)`

Finally, YES! The package is lacking in documentation, thanks for remebering me ^^

[2017-02-02 09:36] iclarke commented on #254
Thanks, very clear indeed, I'll get in touch with them and continue rocking some Highcharter code in my dashboards !

[2017-02-02 10:07] iclarke commented on #253
Thanks for your quick and detailed reply. By trying to reproduce my error it turns out .. two of my dataframe columns were factors, hence no chart output ! Shame on me on this one.

I implemented the second solution you suggested and it works perfectly.

Many thanks

Samy

[2017-02-02 10:49] #253 closed

[2017-02-02 10:50] #254 closed

[2017-02-02 20:00] #255 closed

[2017-02-03 11:04] iclarke commented on #254
Hi,

Sorry to re-open. I've followed the link you've provided and was very pleased with the 50 % discount. Could you please indicate which license should I purchase to be able to use Highcharter within RStudio :  Highcharts/Highstocks/Highmaps or everyhthing ?

Thanks for your help.

[2017-02-03 14:01] jbkunst commented on #254
Hi, no problem.

Highcharter uses almost everithing, basically __highstock.js + maps.js + modules + plugins (by 3rs)__ (https://github.com/jbkunst/highcharter/tree/master/inst/htmlwidgets/lib/highcharts-5.0.6). I think it's a good alternative contact the highcharts people to know what you need ;)!

[2017-02-05 04:01] #48 closed

[2017-02-05 04:10] jbkunst opened #257 "rm fontawesome"
Create `hc_add_depency_fa()`, this can be usefull for plugings

[2017-02-08 03:05] jbkunst opened #258 "don't load plugin as default"
Create `hc_add_plugin <- function(name = NULL){ ... }`

[2017-02-08 03:07] jbkunst opened #259 "remove deprecated list.parse functions"

[2017-02-08 04:22] #257 closed

[2017-02-08 04:22] #259 closed

[2017-02-08 04:22] jbkunst commented on #258
close in 7ba0e0c4c1a1fdb043406e02a6ec3018e3bc37bb

[2017-02-08 04:22] #258 closed

[2017-02-08 14:41] jbkunst opened #260 "hc_theme_ggplot2"
Honoring one of the largest packages

[2017-02-08 14:52] #260 closed

[2017-02-08 18:08] kuzmenkov111 opened #261 "Is it support: map with pie charts?"
There is great feature: adding pie charts on map (http://www.highcharts.com/maps/demo/map-pies). Is it support in highcharter library?

[2017-02-08 18:19] jbkunst commented on #261
Hi @kuzmenkov111

It's a fun chart. Highcharter provide all highcharts libraries so I think it's 100% possible to make that chart via highcharter. The problem is the chart is not a basic or standard in the sense there are a lot of custom code to get it (http://jsfiddle.net/gh/get/jquery/3.1.1/highslide-software/highcharts.com/tree/master/samples/maps/demo/map-pies/). So you can do it, but with som

[2017-02-09 15:22] jbkunst opened #262 "add https://github.com/streamlinesocial/highcharts-regression"
Related to https://github.com/Elizemiku/Interactive-Graphics/issues/1

[2017-02-09 21:28] #262 closed

[2017-02-09 22:06] cmhh opened #263 "Issues with `data.table`"
I've noticed I get errors when using `data.table` with functions such as `hc_add_series`.  I imagine this is because `hc_add_series.data.frame` is dispatched, and doesn't work quite right if the `data.table` package is loaded.  A simple fix is to always pass in `data.frame(dt)`, but I wonder if this could be handled explicitly within the package?  Perhaps by adding `hc_add_series.data.table`, for

[2017-02-09 22:08] jbkunst commented on #263
Hi @cmhh

Ooops. Thanks. I will fix this at home ;)!

[2017-02-09 22:23] juferban opened #264 "hchart with highchart2 to boost heatmap plotting"
Hi,

Really love highcharter and have been using it to implement multiple visualizations in a project.
I have now come up with the issue of having to include heatmaps for thousands of data points and I tried using hchart as in the provided example but I find the rendering a bit slow (>30 sec for 10000 data points).
I read in the forums that you have implemented a highchart2 that takes advantage of

[2017-02-09 22:45] jbkunst commented on #264
Hi @juferban ,

Can you post an example to work with? Just to know how is your approach.

[2017-02-09 23:20] juferban commented on #264
Hi,

Thanks for your quick answer. See code below for a minimal example on how I am currently using highcharter to generate the heatmap. This one took about 15 sec on my desktop which is a bit faster what I am seeing in my real data (which have some additional columns in the dataframe).

I didn't look yet on writing a version that doesn't use the hchart shortcut.

[code]

Any help would be much ap

[2017-02-10 03:08] jbkunst commented on #263
I run:
[code]

without problems: http://rpubs.com/jbkunst/highcharter-issue-263

Can we check your sessionInfo?

[2017-02-10 03:29] jbkunst commented on #264
I think the time it took is to convert the higcharter object -_basically a list_- to __html__ -_the file with (in this case) a big json_-. The higcharter boots pluging improve the performance in tooltip  for example instead of make a fast load of the chart. See http://rpubs.com/jbkunst/highcharter-no-boost versus http://rpubs.com/jbkunst/highcharter-boost they load same time but the performance in

[2017-02-10 04:41] jbkunst commented on #263
No problem

[2017-02-10 17:15] juferban commented on #264
Hi,

Thanks a lot for the great tip. I tested your suggestion and it cut the time in half. In my real case I was doing the rounding in the javascript for the tooltip as didn't thought about the size of the HTML file so great pointer.

Thanks for the quick answer.

Julio

[2017-02-10 18:13] #264 closed

[2017-02-11 21:51] cmhh commented on #263
Not sure what the protocol is regarding commenting on a closed issue...

It turns out it wasn't the `highcharter` version at all.  It seems that this happens when the `dtplyr` package is loaded:

[code]

After loading `dtplyr`, I get the following error:

[code]

I guess this is some sort of masking issue related to `dtplyr`?

Cheers

[2017-02-11 23:49] jbkunst commented on #263
Don't worry,

I will look into it to see what happends ;).

[2017-02-12 23:20] ekstroem opened #265 "Checkbox-like option"
I'm trying to get my head around adding a way to add an option to choose between different sets of series to display. Right now I'm creating a nice plot with 7 lines with the following code.

[code]

However, I'd like to choose between 4 different sets of series of lines either through checkboxes / radio buttons / something else. Should I be looking at crosstalk or a plugin to get that working?

[

[2017-02-12 23:59] tnederlof opened #266 "hc_colorAxis on matrix not changing colors"
Hi there, first of all you have created a fantastic package that I am enjoying using. I hope to learn more about the highchart library and contribute someday as I come up the learning curve. I am having issues changing the color scheme of correlation (or any matrix for that matter) using hc_colorAxis. If this is intended to not work then please let me know and I will close this but incase this is

[2017-02-13 00:33] jbkunst commented on #266
Hi @tnederlof ,

There are some issues with you want to replace some existing value (as the defaul color scales) with a new one because internally the code uses merge.list so the elements are combined instead of overwrite them.

So, there are two way to get what you want meanwhile I see how I can avoid this behavior:

1. Remove the existing color scale and put yours.
[code]
2. Transform matrix  to

[2017-02-13 02:03] joh024 commented on #240
It's because `hc_add_series_treemap` maps `vColor` to `valuecolor` instead of `colorValue` (per #98).

For it to work correctly, you need to modify the function so it maps to `colorValue`:

[code]

Afterwards, you attach `hc_colorAxis` with the correct min/max colours from `tm`:

[code]

[2017-02-13 12:06] tnederlof commented on #266
Very interesting, thank you for the prompt response and examples. It certainly works just setting the stops to NULL to clear out that list element then re-adding. I am happy to close or leave this open if its helpful for you to keep track. I imagine others will try what I tried and get confused why the stops dont change. Thanks again!

[2017-02-13 15:07] jbkunst commented on #266
No problem.

Yeah, let's keep this open until I fix this thing.

[2017-02-13 18:05] bogdanrau opened #267 "Dynamic data label values"
I have the following data frame:

location  | estimate | flag
----------|-----------|-----
Loc1       | 30.2 | †
Loc2       | 18.4 |
Loc3       | 15.5 | †

The code on the bottom produces the following bar chart:

![image](https://cloud.githubusercontent.com/assets/7134642/22895965/30af0496-f1d3-11e6-9159-d87d92a26681.png)

What I am trying to accomplish is to add that flag (or whatever may be in

[2017-02-13 18:33] jbkunst commented on #267
First of all, in this case I recommend use `hchart` function (or hc_add_series(data =  a_data_frame) instead because you send all the columns data. So you can use all this info (columns) in the `formatter` function argument among others (like tooltips, etc).

So:

[code]

![image](https://cloud.githubusercontent.com/assets/56481/22897175/840e125c-f201-11e6-80e9-f1ae951e040a.png)

:wink:

__note__

[2017-02-13 18:45] sy2816 commented on #240
Got it working on my end. Thanks!

[2017-02-13 18:45] #240 closed

[2017-02-13 18:51] jbkunst commented on #240
All the thanks to @joh024 !!!

[2017-02-15 13:07] jbkunst commented on #267
I'll close the issue, but we can reopen if is needed ;).

[2017-02-15 13:07] #267 closed

[2017-02-16 04:12] hueanhpt opened #268 "dateTimeLabelFormats not working with R"
Dear sir,

I tried to using dateTimeLabelFormats argument of hc_xAxis to format datetime labels for axis but unfortunately the labels not display as format.

So, the R code is something like:
[code]

How could I fix the problem ?

[2017-02-16 11:02] cbailiss opened #269 "Export JSON Chart Specification Only"
I am looking to generate charts in R, then take the chart definitions created by highcharter and use them in multiple different places - rendered on the web via javascript, also to image files (both svg and png) and to other "hardcopy" formats like PDF.

To do this, ideally I want to easily be able to retrieve the underlying High Charts JSON chart definition in R, i.e. generate a chart in R, previ

[2017-02-16 13:18] jbkunst commented on #269
Hi @cbailiss  :)!

Yes, what are you doing is exactly what you want, in fact that's what `export_hc` function do: use `toJSON` over `hc$x$hc_opts` (+ other details). All the data is there, there are some other exported parameters like `treemaplayout`, `enabledButtons` becuase some other defaults for plugings that non affect the usual behavior, but if you want, you can remove them from your highcha

[2017-02-16 14:21] cbailiss commented on #269
Thanks very much.  Great to hear this enhancement is already in progress.  Those additional arguments to the export_hc function (in particular as="is") should work for me.  I'll install the dev version and test.  When is the dev version likely to be pushed to CRAN?
One other thought... is the "// Generated by highcharter... " comment strictly allowed in JSON?  (OK in javascript, but not sure about

[2017-02-16 14:26] jbkunst commented on #269
Possibly next month in a maintenance release.

I'll modify `export_hc ` to remove the `// Generated ...` part due http://stackoverflow.com/a/4183018/829971.

Thanks

[2017-02-16 14:33] cbailiss commented on #269
Thanks for that.  I have nothing to further to add on this.
I'll leave the issue open so you can track the work for removing the comment from the export_hc JSON.

[2017-02-17 13:27] #269 closed

[2017-02-17 17:52] Elizemiku commented on #222
I changed the caption size manually using the width = 205, in the function :
`hc_legend (borderWidth = 1, width = 205)`
by looking at the parameters of the hc_legend function on the api.highcharts.com/highcharts#legend

[2017-02-17 17:56] Elizemiku commented on #222
I changed the caption size manually using the width = 205, in the function :
`hc_legend (borderWidth = 1, width = 205) `
by looking at the parameters of the hc_legend function on the api.highcharts.com/highcharts#legend.
The legend remained centered.

[2017-02-17 18:11] jbkunst commented on #222
Now, about the _unnecessary_ white space I think this is more @highcharts related than highcharter. @wlinInspire , if you are fine with this we can close the issue.

Regards to all.

[2017-02-17 19:22] jbkunst commented on #263
Hi @cmhh

Internally, I forced to be only a `data.frame` class, and in my test this work well. Please teste to check in your enviorment.

Thanks

[2017-02-18 18:15] jbkunst commented on #265
Hi @ekstroem

Sorry for the late response.

highcharts have  `id` and `linkedTo` parameters to help group series in _one_ legend. The easy way to use this adding the series separately as you said.

[code]
![image](https://cloud.githubusercontent.com/assets/56481/23095701/06ef7460-f5ed-11e6-9ad2-a72bdd999d08.png)

It's possible do this in a less code using `hc_add_series_list` but is needed know th

[2017-02-18 22:40] ekstroem commented on #265
Wonderful! Almost got me to the end with very few lines of code.

I did look into the `linkedTo` argument and have decided to go that route even though I have 16 different series based on a combination of 4 binary variables which is why I originally thought of the checkboxes.

Is it possible to add extra information so I can tailor the tooltips? Here's a code piece of code where extra stuff is add

[2017-02-19 02:04] jbkunst commented on #265
Fist see the difference between:
[code]

The `list_parse2` dont preserve names so this can be used when we now the arguments order to every series in highcharts (for example in line, first one is for x and the second for y, etc). So in this case you need use `list_parse`:

[code]
![image](https://cloud.githubusercontent.com/assets/56481/23098526/4a926cae-f62e-11e6-9725-1e6019c04f8c.png)

[2017-02-20 17:18] martinjhnhadley opened #270 "Feature request: error_bar series type"
Thanks for highcharter, it's awesome!

I'd like to add a feature request - support for the `error_bar` plugin http://www.highcharts.com/plugin-registry/single/38/error_bar

[2017-02-20 17:38] jbkunst commented on #270
Hi @martinjhnhadley ,

Thanks to you for try the package ;)!.

I tried to put the plugin but there some errors. I think is due the repo have 2 years without any commit and don't consider some (maybe) critical updates like highcharts 4 -> 5 among others.

Why do you need the pluging insead of use the built in error bar http://www.highcharts.com/demo/error-bar? What feature do you think is missed?

[2017-02-20 17:40] jbkunst commented on #265
I'll close this, but we can reopen if is needed ;).

[2017-02-20 17:40] #265 closed

[2017-02-20 17:42] ekstroem commented on #265
Yup. Perfectly fine. I'll still tweaking things around trying not to get RStudio to crash, but it's certainly an issue on this side of the computer. Thanks for all your help.

[2017-02-20 17:43] jbkunst commented on #265
You're welcome. If you need help don't hesitate to ask via stackoverflow or here.

[2017-02-20 18:07] jbkunst commented on #263
I'll close the issue. If you still have problem we can reopen.

Regards,

[2017-02-20 18:07] #263 closed

[2017-02-20 18:09] martinjhnhadley commented on #270
I might be totally wrong, but it appeared the built-in errorbar series
didn't support horizontal error bars.

That's what I'm interested in the error_bars plugin for. But didn't realise
it was that out of date :/
On Mon, 20 Feb 2017 at 17:39, Joshua Kunst <notifications@github.com> wrote:

[2017-02-20 18:23] jbkunst commented on #270
It's possible to put them horizontal if you change the type of chart to _bar_:

[code]
![image](https://cloud.githubusercontent.com/assets/56481/23137362/5a988e78-f780-11e6-848a-5785806100d6.png)

Another option would be chart the error bars manually using lines, but this will need more code to obtain the points of the whiskers, etc, but in 100% possible.

[2017-02-20 18:28] martinjhnhadley commented on #270
Ahh! Thank you for providing support on Highchart.JS, very helpful! I
didn't feel this was well covered by the official documentation so you've
saved me a lot of bother.

This meets my current needs, don't know if you'd want to close this request
or see if others are interested.

Cheers,

Martin
On Mon, 20 Feb 2017 at 18:23, Joshua Kunst <notifications@github.com> wrote:

[2017-02-20 18:47] jbkunst commented on #270
Nice.

Let's close. This will keep helping others even if this is closed.

Regards,

Joshua

[2017-02-20 21:03] jbkunst opened #271 "Add hc_add_series.lm hc_add_series.loess"
Create `hc_add_series.lm` and  `hc_add_series.loess`. ~~Is needed too create `hchart.lm` and `hchart.loess` to _complete the circle_ :weight_lifting_man:~~

thks to @Elizemiku

Relative to https://github.com/jbkunst/highcharter/commit/6e7345338a7a79cf5608a411fd7520a8171a5b2b#commitcomment-20963335

[2017-02-20 22:56] joh024 opened #272 "Incorrect default value for hc_opts$plotOptions$bubble$maxSize"
The default per the [official highcharts API](http://api.highcharts.com/highcharts/plotOptions.bubble) is `"20%"` but currently `highcharter` has it set to `25`.

This fixed pixel maximum will frequently break large bubble charts with the user having no idea why until they discover the default is different in `highcharter` after trial and error.

[2017-02-21 07:00] Yang-Tang opened #273 "highcharter 0.5.0 shows numeric labels for category axis"
I want a plot to show character x-axis labels like [this](http://jsfiddle.net/Lj92odqg/)
Here is my R code:
[code]
The generated plot shows `1, 2, 3` instead of `a, b, c` as x-axis labels.
I tested the same code in highcharter 0.4.0. It gives the correct labels.
Here is my sessionInfo:
[code]

[2017-02-21 10:02] #270 closed

[2017-02-21 13:11] jbkunst commented on #273
Hi @Yang-Tang

Not sure really what change produce this behavior, but if you remove the `x` will chart what you want.

[code]

![image](https://cloud.githubusercontent.com/assets/56481/23166088/e3576f5c-f81d-11e6-83f7-f5274572303c.png)

[code]

[2017-02-21 13:19] jbkunst commented on #273
I don't have idea yet of what is going on, maybe highstocks + other plugings are producing this behavior becuase I just tried, using __highchart2()__ which load only highcharts + 2 plugins and it works.

[code]
![image](https://cloud.githubusercontent.com/assets/56481/23166382/3ae4a626-f81f-11e6-81d9-954ed0c83a03.png)

[2017-02-21 13:31] jbkunst commented on #272
Yeah, I abused and override the default with my taste. Maybe this is not a good options so I remove them ;)!

Thanks as always.

[2017-02-21 20:16] jbkunst opened #274 "CausalImpact/CausalImpact and twitter/AnomalyDetection"
hchart for this!

[2017-02-21 20:19] #271 closed

[2017-02-21 21:42] jbkunst commented on #274
WIP

![image](https://cloud.githubusercontent.com/assets/56481/23186317/7804e020-f865-11e6-835e-1ff4238637a8.png)

[2017-02-22 03:56] Yang-Tang commented on #273
It's the issue of `plugins/draggable-points.js`. When I added it to `highchart2.yaml`, it became `1, 2, 3`.

[2017-02-22 04:14] jbkunst commented on #273
Thanks @Yang-Tang , I guess we can remove this plugin as default and put it as optional via `hc_add_dependency`.

[2017-02-22 13:33] Yang-Tang commented on #273
That would be great! :)

[2017-02-22 14:25] jbkunst commented on #272
Don't you think they look too big?

[code]

![image](https://cloud.githubusercontent.com/assets/56481/23215493/52143b7c-f8f1-11e6-9551-a4294b935446.png)

[code]
![image](https://cloud.githubusercontent.com/assets/56481/23215547/96b56e72-f8f1-11e6-9107-b62fc09e684c.png)

[2017-02-22 18:12] jbkunst commented on #268
Hi @hueanhpt

First of all when you use `categories = df$time` you are treating the data as categorical instead of `datetime`, you need something like this:

[code]

![image](https://cloud.githubusercontent.com/assets/56481/23225561/0907da18-f911-11e6-8f44-b763e53e415b.png)

You need see the chart in a wide space to see the label. See http://api.highcharts.com/highstock/xAxis.dateTimeLabelFormats:

[2017-02-22 20:27] joh024 commented on #272
That's why it's an argument, so if someone feels it's too big they can set a lower maximum. But I'd say the defaults should be consistent with `highcharts`.

[2017-02-22 20:47] jbkunst commented on #272
Ok, sounds good. The change to defaults was made. Thanks again,

[2017-02-22 20:47] #272 closed

[2017-02-22 20:55] jbkunst commented on #268
I'll close the issue, we can reopen if is needed :wink:

[2017-02-22 20:55] #268 closed

[2017-02-23 06:15] Yang-Tang commented on #273
Sorry to open it again. With current commit (5d76d1566b5cd8327ef206d0e63d19fff30bd434), we can now create a plot with correct axis labels, but when it is redrawn (e.g. being resized), the number labels come back again. I found it is related to a bug in highcharts.js 5.0.6 (highcharts/highcharts#6207) and is fixed in 5.0.7. When I replace the `highcharts.js` and `highstock.js` files with new ones,

[2017-02-23 13:00] jbkunst opened #275 "Upgrade to highcharts 5.0.7"
Related to #273

[2017-02-23 13:02] jbkunst commented on #273
Ok, I'll work on that ;).

Thanks @Yang-Tang to come with this! :smiley:

[2017-02-23 14:16] #273 closed

[2017-02-23 14:16] #275 closed

[2017-02-26 15:33] jbkunst opened #276 "minified version widget"
`highchartmin()`  a minified version widget, porbably consider only highcharts, the the people can do their custom via `hc_add_depedency`,

[2017-02-27 15:34] sy2816 opened #277 "Marker aesthetic from scatter/bubble plots?"
Would it be possible to include a marker aesthetic for the scatter/bubble plots similiar to ggplot's "shape" aesthetic? (I've noticed that with the the update to the more recent version of highcharts, the marker parameter in bubble charts now let's you control what the bubble shape is, which is really useful for me btw.)

[code]

I've been trying to do it through multiple hc_add_series:
[code]

![

[2017-02-28 21:41] jbkunst opened #278 "fix to divBackgroundImage"
Possibly add divBackgroundImage function, hc_add_backgound_image

[2017-03-03 15:51] joelgombin opened #279 "units in plotBands?"
I'm trying to create plotBands on the X axis, which is a time series (date). Therefore I need to pass Date values. However, I don't manage to do it; what format is expected?

[2017-03-03 16:34] jbkunst commented on #279
Hi @joelgombin

Transform the date using the datetime_to_timestamp. See http://stackoverflow.com/questions/41573626/highcharter-plotbands-plotlines-with-time-series-data

Cheers,

[2017-03-03 16:34] #279 closed

[2017-03-04 03:39] joelgombin commented on #279
Great, thanks! (I guess it should probably be documented somewhere, though? Maube just add an example?)

[2017-03-04 13:20] jbkunst commented on #279
Yep, you're right! I'll put this example somewhere in the website. Thanks for the recommendation ;)

[2017-03-07 20:17] jbkunst commented on #278
closed in 7914895

[2017-03-07 20:17] #278 closed

[2017-03-09 20:14] d8amonk commented on #156
Trying to better understand last answer; I have hc_xAxis set to an hourly category, and hc_yAxis set to a count of flows (which I set with `data` in hc_add_series).  Problem is there are multiple obs per (direction) category for each hour, so as it is right now I have an hc_xAxis that has "1 1 1 1 1 2 2 2 2 3 3 3 3 3 ...." for the time across X axis. Futhermore,  the hover tip is showing its "X" a

[2017-03-09 20:15] d8aninja opened #281 "Would like a way to group/aggregate like ggplot's stat_summary allows...."
Trying to better understand last answer here (https://github.com/jbkunst/highcharter/issues/156)...

I have hc_xAxis set to an hourly category, and hc_yAxis set to a count of flows (which I set with data in hc_add_series). Problem is there are multiple obs per (direction) category for each hour, so as it is right now I have an hc_xAxis that has "1 1 1 1 1 2 2 2 2 3 3 3 3 3 ...." for the time acros

[2017-03-09 20:28] d8amonk commented on #281
Code is as follows:

[code]

[2017-03-09 21:08] d8amonk commented on #156
What I'm looking for, given by ggplot:

[code]

[2017-03-09 21:08] d8amonk commented on #281
What I'm looking for, given by ggplot:

[code]

[2017-03-10 15:01] jbkunst commented on #281
Hi, can you provide a reproducible example please? Do you can plot what you want using some data example in R? Have you see https://cran.r-project.org/web/packages/highcharter/vignettes/charting-data-frames.html or http://jkunst.com/highcharter/hchart.html?

One approach to make a `stat_summary` layer would be precalculate the summary (a data frame result) and add it using `hc_add_series`

[2017-03-15 01:24] bogdanrau opened #282 "Assign a global color theme"
The link below shows a jsfiddle that uses `setOptions({colors:...})` to set a global color theme. Is this already reproducible in the current version of highcharter, or could this be added to the roadmap?

http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/chart/colors/

Ref: http://api.highcharts.com/highcharts/colors (see try it)

[2017-03-15 04:25] jbkunst commented on #282
Hi @bogdanrau

Have you tried?

[2017-03-15 04:29] jbkunst commented on #282
http://jkunst.com/highcharter/highcharts-api.html#hc_colors

[2017-03-15 04:37] bogdanrau commented on #282
I think I may not have explained the intent clearly. What I'd want to do is set the color (theme) globally for any and all charts produced. So removing the need to call hc_color every time a chart is rendered.

[2017-03-15 14:10] jbkunst commented on #282
Sorry, my bad.

You need to use `highcharter.theme` in `options`:

[code]

[2017-03-15 22:55] bogdanrau commented on #282
Excellent! Thank you sir!

[2017-03-16 00:34] #282 closed

[2017-03-17 05:17] palfalvi opened #283 "Cannot render plots for Hugo/blogdown .Rmd"
Hi,

I wanted to use highcharter with blogdown+Hugo pages. When I made the Rmd file, in RStudio everything worked well, but in the rendered webpage there is just a blank space where the chart should go. I tried to put it in a htmlwidgets::tagList() but the same. I am using simple highchart() with two columnrange hc_add_series() element. Do you have any solution for this?

Thank you in advance.

[2017-03-17 13:24] jbkunst commented on #283
Hi @palfalvi,

I don't know how blogdown work. So:

- Have you tried with other htmlwidgets?
- In the page when you see a blank space, what do you see in the devtools (F12 button)?

[2017-03-17 17:04] jjcole415 opened #284 "Unwanted buttons in Shiny Server Hosted App"
I really love the ability to incorporate these charts.  However, I recently deployed a couple of our shiny apps to our own server running shiny server and I noticed that some buttons were showing up in our charts. Below is a photo of the buttons.  They seem to be buttons which a permit the user to add a text box or other features to the chart.  I could not find any documentation on these.

![image

[2017-03-17 18:07] jbkunst commented on #284
Hi @jjcole415

You can use `hc_add_series_list( lapply(your stuff ))` ;). Tell me if this work for you ;)

[2017-03-18 03:53] jjcole415 commented on #284
Unfortunately not.  When I run the code with this change the chart does not render at all. Any other suggestions?

[2017-03-18 04:01] jbkunst commented on #284
Not sure why `hc_add_series_list` dont work, are you sure you use correclty, IMO _this_ is the way to add multiples series at once:

[code]
![image](https://cloud.githubusercontent.com/assets/56481/24068775/4b0eb874-0b76-11e7-9d1f-bc3750630e32.png)

[2017-03-18 04:24] jbkunst commented on #284
The other way is download the development version using devtools, I recenlty remove the _annotations_ pluging so you will not see that buttons:

[code]

[2017-03-18 04:51] jjcole415 commented on #284
Great.  So I loaded the development version of the package and the annotation buttons went away.  Is the first version of the code more stable than the hc.opts version?  If you think it will be more reliable I will rewrite the code for those relevant charts.

Thank you again for your help and for producing such a wonderful package.  I love the highcharts graphs and charts, and I recently redid my

[2017-03-21 04:39] palfalvi commented on #283
Other htmlwidgets looks fine (I am continously working with DiagrammeR, DT, networkD3, plotly).

On html the blank space is:

[code]
"..." has the data values for rendering the plot.

On debug there are this messages for highchart.js:

[code]

[2017-03-21 04:56] niheaven opened #285 "Error : object ‘dmap_if’ is not exported by 'namespace:purrr'"
Hi,

When I install development version of highcharter, I met a error called "Error : object ‘dmap_if’ is not exported by 'namespace:purrr'", and my purrr version is 0.2.2.9000 from github tidyverse/purrr. What's wrong?

Hsiao-nan Cheung

[2017-03-21 05:25] jbkunst commented on #283
Usually that message is when highcharts.js is not [loaded](http://stackoverflow.com/questions/32011248/highcharts-uncaught-typeerror-highcharts-is-not-a-function) or maybe there's an issue with jquery. To be sure, have you see if highcharts the source (CRTL+U)  is correctly loaded?

Do you have an open repo with your blogdown site?

[2017-03-21 05:31] jbkunst commented on #285
Hi @niheaven

From purrrly README:

See https://github.com/tidyverse/purrr/blob/aea1ce446f3e06b28b2e867a10efbaa29a7498cb/NEWS.md too.

So the simplest option is use the CRAN version of purrr.

I will change the exports when purrrly reach CRAN.

[2017-03-21 05:45] palfalvi commented on #283
Looks like the sources are loaded, just that 2 lines have problem. Thank for the link, however how can I load JQuery before Highchart.js from R?

I have an [open repo](https://github.com/palfalvi/palfalvi.github.io), but I did not uploaded any post with highcharts so far since it cannot show anything on local.

[2017-03-21 05:51] palfalvi commented on #283
Btw on [your site under shiny](http://jkunst.com/highcharter/shiny.html) also I cannot see any plot. Can it caused by similar issues?

[2017-03-21 07:51] niheaven commented on #285
Thanks, @jbkunst. The packages dependencies from different authors at github are really confused and must be carefully tried...

[2017-03-21 07:51] #285 closed

[2017-03-21 13:22] jbkunst commented on #285
Yep. In this case the author is the same ;), the issue is you've installed a developing version. Cheers

[2017-03-21 13:30] jbkunst commented on #284
I've developed the package thinking around the option 1. The 2nd option works too (at the end the highcharts object is a list) but you lose some features, for example in the `hc_tooltip` there are some options to put the tooltips as a table and be sorted as the value of each series, exist `hc_add_event_series` which is a shortcut to create events when the user click a point in a shiny app, obvious

[2017-03-21 13:30] #284 closed

[2017-03-21 18:17] jbkunst opened #286 "super heroes theme"
![image](https://cloud.githubusercontent.com/assets/56481/24163448/6bafd380-0e49-11e7-8968-23d6831b0240.png)

[2017-03-21 20:24] #286 closed

[2017-03-21 20:40] jbkunst commented on #283
Can you try with a simple theme? I want to be sure if  there some conflicts with the scripts loaded at the end

[2017-03-22 05:29] palfalvi commented on #283
I tried with a simple chart using ```favorite_pies``` dataset with several build and custom themes, including ```hc_theme_null()```, but still the same.

[2017-03-22 14:09] jbkunst commented on #283
Sorry, I wasn't clear enough. I was talking about the hugo theme ;)

[2017-03-23 03:35] palfalvi commented on #283
You was right. I built a new site locally and just inserted a highcharter plot in the example .Rmd file and it was visible and fine.

However I don't know is it worth to rearrange the whole site and experience with other themes until it is working. Probably it should be done in the beginning, but most likely it should work with all themes. Do you have any idea what's wrong in the theme then?

[2017-03-23 13:55] jbkunst commented on #283
Nice!

My first guess is think in a conflict with the theme js and highcharts. You can try the new widgetframe by @bhaskarvk, I think **worth** a try, tell me if you try this approach :D.

(You're not alone https://github.com/rstudio/blogdown/issues/20)

[2017-03-23 17:59] smach commented on #245
It would be very cool if Highcharter supported crosstalk!

[2017-03-24 09:57] palfalvi commented on #283
Ok I tried several things. First of all, simple ```widgetFrame()``` was not working.

However I realized ```plotly``` is also not working, but not all the time (?). Some plots are shown but some are not. ```wordcloud2``` makes also just an empty box. Better to search in the theme or blogdown, then in the widgets. Thanks for helping!

[2017-03-24 10:36] shosaco opened #287 "Gantt chart extension planned?"
Hi there and thanks for that terrific package! Currently, they develop an extension to produce Gantt charts. Is there a wrapper planned to use this in R?

https://highcharts.uservoice.com/forums/55896-highcharts-javascript-api/suggestions/804783-gantt-chart

[2017-03-24 13:51] jbkunst commented on #283
I agree, in that case it seems to be a blogdown issue. Meanwhile I'll close the issue, if you need more highcharter support we can reopen or make a new issue here ;)!

[2017-03-24 13:55] AlexSemenovIRL commented on #283
I was following this ticket too, thank you for the update.
Cheers,
Pork Chop

[2017-03-24 14:04] jbkunst commented on #287
Hi @shosaco

Thanks!

I'm aware about this extension, but not sure to add until reach some stable release (currently alpha). Besides there's 0 documentation. But obviously is a good feature to have this.

[2017-03-27 13:30] zone4182 opened #288 "get only script"
Hi, not sure if i'm doing this correctly as it is the first time i actually do something with/in Git.
I'm wondering if there also is a possibilty to only get the generated highchart script instead of actually generating the complete chart already.

[2017-03-27 13:48] zone4182 commented on #288
Sorry will close this. I found the export_hc function that probably does the trick for me. Guess you are awesome and I am somewhat less awesome ;-).

[2017-03-27 13:48] #288 closed

[2017-03-27 15:23] jbkunst commented on #288
Hi @zone4182

Haha, may be you're the awesome for find something undocumented in my less awesome documentation ;)

[2017-03-28 19:11] shosaco commented on #287
Thanks a lot. If you can use any voluntary help, please let me know :-)

[2017-03-29 17:45] d8aninja commented on #144
Should I be getting this same error if I am using v0.5?

[code]

But then,

[code]

[2017-03-29 18:48] jbkunst commented on #144
Hi Jeff @d8aninja

`hcaes` is **only** used if the `data` argument is a `data.frame`, so avoid the `t <- as.xts(...`  and try again ;)

[2017-03-29 19:48] d8aninja commented on #144
I will eventually be doing forecasting with that object though - don't I need `xts`?

[2017-03-29 20:20] jbkunst commented on #144
You can add the forecast (objects) later using `hc_add_series(forecast, addOriginal = FALSE)`

If we can work with a _minimal reproducible_ it would be great.

[2017-03-29 20:24] d8aninja commented on #144
Working on one now - confirm for me that I can pass factors for the groups / names to hc_add_series if the data object is a `forecast` one?

[2017-04-03 16:21] earthlong opened #289 "Unable to plot polar charts"
It seems that the code for multicharts doesn't work (https://github.com/jbkunst/highcharter/blame/master/dev/types.R). Specifically polar charts are not plottable in 0.4.0

[2017-04-03 16:22] earthlong opened #290 "Contour plots not available"
Is it possible to plot contour chart like the one here. http://jsfiddle.net/historic_bruno/L5y8yrvr/
Thanks

[2017-04-03 17:20] jbkunst commented on #289
Hi @earthlong

Sure is it. Have you tried with 0.5.0?

[2017-04-03 17:40] earthlong commented on #289
Ok, they work with 0.5.0 but the multichart code still doesn't work.

[2017-04-03 17:49] jbkunst commented on #289
Whe you said 'still doesn't work'? What this means? An error, a blank chart,

Did you run:

[code]

[2017-04-03 17:52] earthlong commented on #289
I was getting blank chart in RStudio Viewer. However running the tagList did the job.

[2017-04-03 17:52] #289 closed

[2017-04-03 17:53] jbkunst commented on #289
Ok ;)

[2017-04-03 17:58] earthlong commented on #289
Thanks :)

[2017-04-03 23:46] sam-m-caldwell opened #291 "hcaes for highstock charts?"
Hi there,

Thanks for such a great package!

I'm trying to reproduce something similar to the economics_long example below but through the highstocks chart type.

`economics_long2 <- filter(economics_long, variable %in% c("pop", "uempmed", "unemploy"))
hchart(economics_long2, "line", hcaes(x = date, y = value01, group = variable)) %>%
  hc_tooltip(sort = TRUE, table = TRUE)`

Simply changing the t

[2017-04-04 12:26] sy2816 commented on #291
Slightly different approach as it doesn't use the hchart function, but the following code puts it in a highstock chart.

[code]

[2017-04-04 13:27] jbkunst commented on #291
Hi @sam-m-caldwell ,

Glad you find an answer by yourself. The "stock" it's a type of chart instead of type of series (like line, bar, etc).

If you want use `hchart` you can use `hc_navigator` or `hc_rangeSelector`  to add the "stock" features:

[code]

[2017-04-04 13:27] #291 closed

[2017-04-04 21:43] sam-m-caldwell commented on #291
Fantastic answers, thank you @jbkunst and @sy2816!!

[2017-04-05 00:44] sam-m-caldwell opened #292 "Adding flags to series created within hcaes"
Hello again,

I'm trying to combine examples by adding flags to the line chart of the "economics_long" dataframe as per below:

`economics_long2 <- filter(economics_long, variable %in% c("pop", "uempmed", "unemploy"))

df.flags = data_frame(
  date = sample(economics_long2$date, size = 5),
  title = sprintf("E #%s", seq_along(date)),
  text = sprintf("An interesting event #%s in %s", seq_along(dat

[2017-04-05 03:42] jbkunst commented on #292
Hi @sam-m-caldwell ,

First, please _format_ your code, you need to use tripe: ``` to make code blocks.

`onSeries` need the _id_ of the series, so you need to give that in the `hchart` part:

[code]

The github issues are mainly to discuss bug or new features, you can look answers in stackoverflow first, then use this section as final option ;).

[2017-04-05 03:42] #292 closed

[2017-04-05 03:44] jbkunst commented on #291
Sorry @sy2816 , I was confused about who wrote the message! Thanks for help here :D.

[2017-04-05 13:28] klopianoRTA opened #293 "Shiny + Highcharter: download pdf works in edge, firefox but not chrome"
First, thank you for developing and maintaining such an incredible R package.

The R program below builds upon the example here http://jkunst.com/highcharter/shiny.html Note I changed hc_demo to highcharts_demo and added an hc_exporting line.

I'm able to download the chart as a pdf file when I open the application in Microsoft Edge and Mozilla Firefox but not Google Chrome. Any thoughts?

[code]

[2017-04-05 15:01] jbkunst commented on #293
Hi @klopianoRTA

I use your app without problems in chrome, do you have the lastest version (dev) of highcharter?

This can be related to https://github.com/jbkunst/highcharter/issues/131#issuecomment-231753664

![image](https://cloud.githubusercontent.com/assets/56481/24711737/33ee5a7a-19f7-11e7-9ec9-e5db081673da.png)

Have you tried with other version of chrome, Or maybe other pc with chorme?

[2017-04-05 16:53] klopianoRTA commented on #293
Hi Joshua, Thanks for the quick reply. Installing the dev version of highcharter solved the problem. Thanks. When you have time, I'd love to better understand what was causing the issue. Thanks again.

[2017-04-05 16:53] #293 closed

[2017-04-05 17:10] jbkunst commented on #293
@klopianoRTA , Sadly I don't have any clue about this issue. I'll let you know if I know something.

[2017-04-05 23:40] sam-m-caldwell commented on #292
Hey @jbkunst,

Thanks for your reply, that works ok but I still have the issue where the title and titles within the flags don't display on the hover (see image below). The hover information is as if it is an extra series with value 0 instead.

Also as a potential enhancement would it be an idea to be able to add the 'id' argument within the 'hcaes' to avoid hard coding in the ids as you have done

[2017-04-07 15:46] Roger-YC opened #294 "Don't know how to setup multiple Y axis"
Hi all:

    I'm a little bit confused for the multiple Y axis request especially for some plot like pareto control chart.

   Does any one knows how to setup a multiple Y axis by highcharter?

   Thanks in advance.

[2017-04-07 15:53] jbkunst commented on #294
Hi @Roger-YC

Have you tried `?hc_yAxis_multiples` in the R console

[2017-04-07 16:07] Roger-YC commented on #294
Hi Sir:

     Thank you very much for your response.

     I already tried it but seem the result is not OK, both of the Yaxis is located at the left side shared with the same range

     If you don't mind, may you please kindly help to give an example to me in order I can try it in R?

     Thank you so much!

[2017-04-07 18:15] jbkunst commented on #294
Hi @Roger-YC ,

I think it's better if you show what have you done already and then we can discuss in how to correct it ;).

[2017-04-08 03:57] Roger-YC commented on #294
Hi Sir @jbkunst:
     It's so kind of you can help me :)

     Following is what I've made, you can see I have two series of data: 1. Made of barchart, 2. Made of line+dot chart. Because these two series has different value range (For barchart, the data range is 0-500, For line chart, the data range is 0%-100%), I want to put them into different yAxis, left/right seperate.
<img width="991" alt="20

[2017-04-08 04:04] jbkunst commented on #294
Sorry, when I said "show what have you done" I mean to the `code` with some data to replicate your example ;)

[2017-04-08 04:14] Roger-YC commented on #294
Oh, please forgive me. Here it is:

tab <-read.csv("Pareto.csv")
tab$Date <- as.Date(tab$Date)
tab$Date <- format(tab$Date,"%m-%d")
tab$failure_rate <- round(tab$failure_rate*100,2)
names(tab) <- c("Date","Failure_Mode", "Failure_Count", "Total_Count", "Failure_Rate")
attach(tab)
tab <- tab[order(-Failure_Count),]
detach(tab)
ACY <-tab$Failure_Count/sum(tab$Failure_Count)
for(i in 2:length(ACY)){A

[2017-04-10 00:08] Rhoboot opened #295 "Problem with shape in annotations"
Hello:

I'm trying to add a shape in an annotation, but I do not visualize anything, apparently it's all ok.

Do you have any idea what may be happening?

`hc_annotations(list(
                title=list(text="hi!",style=list(color="blue")),
                anchorX= "left",
                anchorY= "top",
                allowDragX= TRUE,
                allowDragY= TRUE,
                x=100,

[2017-04-10 06:48] milindnirgun opened #296 "How to add alternating colors to volume chart in highstock example"
I want to add alternating colors for up and down days to the volume column graph in the last example in the highstock section. I have created the following version of the example as a function to pass in any object that I have already done a getSymbols() on.
`highplot <- function(d)  {
  names(d) <- c("Open", "High", "Low", "Close", "Volume", "Adjusted")

  barcols <- c()
  c <- as.numeric(d$Close

[2017-04-10 14:23] jetzler opened #297 "Tablet/Mobile usability - No scrolling possible - Highcharter capturing all touch events"
Hi, we absolutly love highcharter and are using it for noumerous shiny based dashboard projects.
Our single problem: Usability on tablets. All touch events seem to be captured by tooltips.
When touching/clicking on the chart we can not scroll up/down. Only the tooltips are triggered.

We do not have this problem using Highcharts, only highcharter. The various Highcharts options: panning, followTou

[2017-04-16 07:59] benalmer opened #298 "shinydashboard integration"
I am using highcharter with shinydashboard.
Already set chart width to '100%', but the chart doesn't resize when the sidebar panel is expanded/collapsed (unless in chrome DevTools) . Is there any way to fix it?

Thanks

[2017-04-16 11:04] kuzmenkov111 commented on #261
Hi jbkunst!!!

Have you tried to do this type of map?I tried, but i haven't got enough knowledge in js(((

[2017-04-17 04:41] #298 closed

[2017-04-17 04:41] benalmer commented on #298
Just found out that the issue is from shinydashboard

[2017-04-17 13:26] jbkunst commented on #298
Hi @benalmer ,

Sorry for don't reply. I remember made some hack with javascript when the sidebar change the width but I didn't find it.

Can you share your solution, may be can help others ;)!

[2017-04-18 02:42] benalmer commented on #298
@jbkunst

It can be solved by including this script on the shinyapp

`$(document).on("click", ".sidebar-toggle", function() {
     $(window).trigger("resize");
   });`

because the graph will react on window resizing

[2017-04-18 02:48] benalmer opened #299 "Inverted axes"
In which function am I supposed to put `inverted` axes argument? Can't find a way to use it in highcharter

Thanks

[2017-04-18 03:24] jbkunst commented on #299
@benalmer

Usually, you need to find in highchart documentation **first**, then use the same argument in highcharter.

See: https://www.google.cl/search?q=highcharts+reverted+axis&oq=highcharts+reverted+axis&aqs=chrome..69i57j69i60l2j69i65l2j69i60.4625j0j4&sourceid=chrome&ie=UTF-8

Then (not sure what you want):
- http://www.highcharts.com/demo/area-inverted, or
- http://www.highcharts.com/stock/d

[2017-04-18 03:34] benalmer commented on #299
@jbkunst

This line doesn't give any effect:
` hc_chart(inverted = TRUE) `

it's supposed to switch the axes (e.g column chart is gonna look like a bar chart when inverted)

[2017-04-18 03:37] jbkunst commented on #299
Can you try?:

![image](https://cloud.githubusercontent.com/assets/56481/25113638/236ed238-23cf-11e7-8590-7bd6017a061f.png)

[2017-04-18 03:41] #299 closed

[2017-04-18 21:20] cls3415 opened #300 "rounded is not working in solidgauge"
Hi All,
 I'm trying to reproduce active gauge as this: http://www.highcharts.com/demo/gauge-activity, but I couldn't get the bars rounded. The following is my code. Any thought?

hc<-highchart() %>%
  hc_chart(type = "solidgauge" ,marginTop=50) %>%
  hc_title(text = "Activity") %>%
  hc_tooltip(borderWidth=0,
		backgroundColor = 'none',
		shadow = FALSE,
		style = list(
			fontSize = '16px'
		),

[2017-04-20 14:05] jbkunst commented on #300
@cls3415

I will look into it soon.

Please, next time, try to format your code nicely so will be easier for me to help you.

[2017-04-20 14:17] jbkunst commented on #300
Not sure, but I have a old example that works, try to see the differences:

[code]
![image](https://cloud.githubusercontent.com/assets/56481/25235214/e3f803d4-25ba-11e7-9d9a-555a15b2eed6.png)

[2017-04-20 14:17] #300 closed

[2017-04-20 14:18] jbkunst commented on #297
@jetzler

I can't test yet, but I will look into this, looks very strange.

[2017-04-21 01:40] cls3415 commented on #300
@jbkunst
Thanks!! I'll format my code next time. Sorry about that.
Looks like I can't use hc_series but hc_add_series instead.
It works when I use hc_add_series.

Thanks again for your help!!

[2017-04-24 10:17] dpprdan opened #301 "Rmarkdown inline preview in RStudio does not show full chart"
When trying to preview a highcharter chart in a Rmarkdown document in Rstudio, the chart is not fully visible, i.e. when I run the following chunk within an Rmarkdown document, Rstudio only shows a small piece of the full chart.
[code]
![highcharter_rmd_preview](https://cloud.githubusercontent.com/assets/1423562/25332496/f7d5e676-28e6-11e7-875b-65c218ffb14f.png)
When I click on the "Show in New Wi

[2017-04-24 14:16] dpprdan opened #302 "hc_add_theme() works differently with hchart() and highchart()"
`hchart()` and `highchart()` seem to have different default chart layouts. This is a problem if one wants to combine different graphs with both methods on one page and also introduces a bug in the handling of themes in `hchart` (see below).

To illustrate, let's start with a simple `highchart()` example:

[code]
The resulting graph on my system:
![grafik](https://cloud.githubusercontent.com/assets

[2017-04-24 16:37] jbkunst commented on #301
Hi @dpprdan

Not sure if this is a highcharter or Rstudio bug. Have you tried with other htmlwidgets?

[2017-04-24 17:19] jbkunst commented on #302
Hi @dpprdan

Indeed, `hchart` and `highchart` are differents functions and then they have different motivations/behaviors.

 - `hchart` is for make quick charts  given minimal information from the user. For example  `hchart(ggplot2::economics, "line", hcaes(date, pop))` recognize datetime class  (and internally add `hc_xAxis(type = "datetime")`, etc.
- Meanwhile `highchart` allow you have more con

[2017-04-24 19:02] dpprdan commented on #301
Yup, they work fine so seems to be a highcharter bug. Possibly somehow related to #14, just in reverse?

![graph](https://cloud.githubusercontent.com/assets/1423562/25353739/9aa966cc-2930-11e7-946e-7fa7ae23dbc7.png)

[2017-04-24 19:53] dpprdan commented on #302
Thanks @jbkunst! I was aware of the differences between `hchart` and `highchart` as well as `hc_plotOptions()` (actually I am using `marker = list(enabled = TRUE)` within `hcaes()` as a work-around - "work-around" again being a matter of perspective, I guess, though not really IMHO).

Your design choices are your prerogative of course. That being said, my perspective on this is the following: No m

[2017-04-24 21:16] jbkunst commented on #302
Thanks to you @dpprdan

I think you're right, It's better maintain the highcharts defautls. So I will delete the part wich set the markers to false in the line chart as you mention in the last part.

[2017-04-24 21:17] jbkunst commented on #302
Thanks to you @dpprdan

I think you're right, It's better maintain the highcharts defautls. So I will delete the part wich set the markers to false in the line chart as you mention in the last part.

[2017-04-24 22:13] dpprdan commented on #302
Thanks @jbkunst! Maybe you can give my idea regarding a default theme another thought as well?

Unfortunately I think I found a similar issue, though this time not directly theme-related:
Please compare:

[code]
to
[code]

Apparently it is not possible to disable markers with `hc_plotOptions` on a `hchart` object. I suppose this problem is also related to the default options set in `hchart`?

[2017-04-27 19:46] jbkunst commented on #302
Hi @dpprdan,

I removed the hc_plotOptions in the `hchart` so the next code give the same results (hchart put labels in the axis):

[code]
I don't have the `df_area`, can you check if this work for that data frame too? If you can't test, can you give me some `dput` to make some tests?

[2017-04-27 19:58] jbkunst commented on #301
@dpprdan

I couldn't reproduce the issue, at the begging appear the white bar as your image but then the bar expand and show the chart. Do you have the latest rstudio? I was using the 1.0.136v.

[2017-04-27 20:00] jbkunst commented on #295
Hi @Rhoboot ,

Sorry, I forgot read this issue, do you still have the problem? In that case can you send me a reproducible example to work with?

[2017-04-27 20:04] jbkunst commented on #290
Hi @earthlong ,

I'm almost sure if this won't work because the jsfiddle need modified highcharts script.

I will try to test https://github.com/paulo-raca/highcharts-contour to see if we can integrate to highcharter.

[2017-04-28 11:12] dpprdan commented on #301
I checked on another machine and it reproduces in all settings I tested.
Win 7 & 10, RStudio 1.0.143 & 1.0.136, R 3.3.2, 3.3.3, 3.4.
Are you on Windows as well?

[2017-04-28 11:27] dpprdan commented on #302
I tried to install highcharter from github with `devtools::install_github("jbkunst/highcharter")`. `library("highcharter")` gives the following error:

[code]

So I cannot test at the moment.

`df_area` is the data from the [Replicating Highcharts Demos](https://cran.r-project.org/web/packages/highcharter/vignettes/replicating-highcharts-demos.html) vignette:

[code]

[2017-04-28 13:42] jbkunst commented on #302
@dpprdan

That's weird, Not sure what could it be. I run the  `devtools::install_github` without problems. Not sure if you have the same result with `source("https://install-github.me/jbkunst/highcharter")`

(`##  highcharter * 0.5.0.9999 2017-04-28 Github (jbkunst/highcharter@22f0d5b)` in
http://rpubs.com/jbkunst/highcharter-issue-302)

[2017-04-28 14:18] dpprdan commented on #302
Sorry, my fault. I had highcharter loaded in another R session, that's why the update failed.

The df_area chart works fine with regard to the markers (note that my chart example as such does not make a lot of sense, because it is not stacked - so it really is a minimal working example).

For the line charts the markers and themes work nicely. However, the two graphs differ with respect to the axi

[2017-04-28 14:23] dpprdan commented on #301
I checked again with the github version and here I can reproduce the behaviour you metioned (bar in beginning, full chart after 1-2 seconds). I checked with RStudio 1.0.143, Win7 & 10.
Did you test with the dev or the CRAN version?
Anyway, it seems the issue is fixed somehow in the dev version. Issue can be closed IMHO, but I leave that up to you.

[2017-04-28 15:03] jbkunst commented on #302
See the updated version of http://rpubs.com/jbkunst/271521. Compare:

[code]
with
[code]

The effect is that `int` is continous, and the javascript is 0-based.

- In the `hc_add_series.vector` (`hc_add_series(name = "Berlin", data = citytemp$berlin)`) the data is given to highcharts as `[-0.9,  0.6,  3.5, ...]` and highcharts interpret put the fist value in the first value of the category.
- In th

[2017-04-29 23:28] Eflores89 opened #303 "Highcharter and includeHTML in Shiny do not work together"
Hi @jbkunst, thanks for a great library, it has been really useful!

However, I think I might have found a small bug. The following shiny app works perfectly:

[code]

However, when I add (in any tab) [shiny::includeHTML](https://shiny.rstudio.com/reference/shiny/latest/include.html), the highcharter object does not appear.

I found this out the hard way: built an entire app and then had to strip

[2017-04-30 02:18] joh024 commented on #126
I see that the current version again seems to be forcing offline exporting, and for whatever reason even if I use code to force non-local exporting (using `.exportChart`, rather than `.exportChartLocal`) it seems to fail (possibly because the offline-exporting code seems to replace a lot of the code).

Again, it would be much better if the default is external server (for greater browser compatibil

[2017-04-30 02:21] joh024 commented on #303
Have you checked to make sure the problem isn't with improper syntax in the HTML you're including?

[2017-04-30 02:53] jbkunst commented on #126
Let me check

[2017-04-30 04:55] Eflores89 commented on #303
@joh024 yes, the HTML shows perfectly (but not the highchart) and vice-versa

[2017-04-30 06:11] joh024 commented on #303
I ask because `includeHTML` is literally just reading in the file, wrapping it in `HTML` (so the content isn't escaped) and returning it. There is nothing in the function itself that should interfere with anything else, which leads to the conclusion that the issue must be with the HTML code you're including.

But on the off-chance there's black magic involved (which sometimes happens), I took the

[2017-04-30 18:17] Eflores89 commented on #303
Thanks for your help.

So i've traced the problem somewhat more.

It will not work with an html **made from an rmarkdown with knitr**. I created a simple template with a `summary(cars)` and I get the html to show but *not* the highchart object:
![not1](https://cloud.githubusercontent.com/assets/5789139/25566804/e2c55dec-2da6-11e7-98ba-59f66b7a2182.PNG)

I also tried taking out the code and R objec

[2017-04-30 20:22] wenbostar opened #304 "How to set the color of bar border and filling for histogram plot"
Hi,
Does anyone know how to set the color of bar border and filling for histogram plot? In addition, how to remove the label "Series 1"?

Below is the code I used:

`hchist(x)`

![image](https://cloud.githubusercontent.com/assets/5302110/25567676/acd8a5ba-2db8-11e7-9775-855264709dac.png)

Best regards!
Bo

[2017-04-30 22:01] jbkunst commented on #303
Can you send a _reproducible_ example? Try to look the console message in the web browser (F12)

[2017-04-30 22:04] Eflores89 commented on #303
Yes, it's in the beginning of the issue.

The html is the RStudio default, github doesn't let me upload html files.

[2017-04-30 22:18] jbkunst commented on #303
Sorry ;). You need to knitr your Rmd using `output: html_fragment`, the output will be just html code, no javascript, no css so there will not be conflicts between shiny and rmarkdown js depedencies.

[2017-05-01 09:38] d-qn opened #305 "Highcharts responsive feature"
Since Highcharts 5.0, there are [additional options for responsive design](https://www.highcharts.com/docs/chart-concepts/responsive).

[highcharts API](http://api.highcharts.com/highcharts/responsive.rules.chartOptions)

I believe one cannot access this feature from R & highcharter.

[2017-05-01 14:54] jbkunst commented on #305
Hi @d-qn ,

I'll do it now! Glad you try to use this nice features, I forgot added before ;).

[2017-05-01 15:32] Eflores89 commented on #303
Ok let me try. Thanks

[2017-05-01 15:38] d-qn commented on #305
Awesome, cheers :-)

[2017-05-01 15:40] Eflores89 commented on #303
I see now.

So when exporting as fragment you loose all the code CSS and other formatting, which means this document can't be *stand-alone*. However, when including into shiny, it appears to use the shiny's CSS, so it appears formatted.

I guess it's a decent workable solution for now, thanks!

[2017-05-01 15:41] jbkunst commented on #305
@d-qn ,

Try download the dev version (`source("https://install-github.me/jbkunst/highcharter")`) and run:

[code]

The legend will have different behavior depending of the width. Tell me please if this work for you.

[2017-05-01 15:44] jbkunst commented on #303
Why is not _the_ solution? What do you need?

I guess _iframe_s is other possible solution: http://stackoverflow.com/questions/22177974/r-shiny-using-iframe-for-local-files

[2017-05-01 15:46] Eflores89 commented on #303
@jbkunst it *is* the solution!

[2017-05-01 15:46] #303 closed

[2017-05-02 05:54] d-qn commented on #305
Sweet, that was quick :-). It seems to work perfectly, thank you

[2017-05-02 13:19] jbkunst commented on #305
Nice. I'll close the issue ;)

[2017-05-02 13:19] #305 closed

[2017-05-02 13:53] jbkunst commented on #304
Bo @wenbostar ,

By instance you can use:

[code]
Not sure how to add border color via `hchist`, may be it's easier if you _harcode_ the histogram.

[2017-05-02 13:53] jbkunst commented on #304
Finally, read http://ultinomics.org/2017/04/05/thinking-in-highcharter---how-to-build-any-highcharts-plot-in-r/#highcharts-api-and-highcharter-functions and https://cran.rstudio.com/web/packages/highcharter/vignettes/replicating-highcharts-demos.html ;)!

[2017-05-02 21:43] kuzmenkov111 commented on #297
+1

[2017-05-04 12:36] dpprdan commented on #302
Thanks for your explanation (and sorry for the delay)!
However, I don't think that `hc_add_series.vector` vs. `hc_add_series.data.frame` nor the fact whether `x` is an integer or character vector is the issue here _per se_, but rather how `hchart()` handles integers differently than `highchart()` with respect to the x-axis markers.
The following all create the same chart:

[code]

The only differe

[2017-05-04 14:34] doug-friedman opened #306 "highchart2 not working?"
I'm trying to run [your simple example of `highchart2()`](https://github.com/jbkunst/highcharter/blob/434aedede8328d8722a0342a8d6e6609a6eafe65/dev/boots.src.R) and all I get is a blank page in the browser window.

Here's the code I used:
[code]

If it helps, I'm attaching the resulting HTML generated by the above code.

[highchart2_example_html_and_files.zip](https://github.com/jbkunst/highcharter

[2017-05-04 15:21] jbkunst commented on #306
Hi @doug-friedman

It was my fault, not sure how I deleted the yaml file. Now it's working in the dev version.

Tip: Remember make some `round(x, 4)` to make the file lightweiht and don't take some time in generate the html, see some discussion in #264

[2017-05-04 15:22] jbkunst commented on #306
@doug-friedman  please tell me if this work now for close the issue.

[2017-05-04 15:24] doug-friedman commented on #306
That worked! Thanks for the quick fix!

[2017-05-04 15:24] #306 closed

[2017-05-06 07:33] wjsellers commented on #297
Running into same issue with highcharter on R Markdown html pages on iPhone with Safari, Firefox and Chrome and can confirm on hchart.html page mentioned above. Also love highcharter!

[2017-05-08 00:27] wave-electron opened #307 "Enhancement to hc_yAxis_multiples()"
What I have in mind is synchronisation between a "map" type and say column, bar, line etc.

Here's the chart example.

![yaxis_multiple](https://cloud.githubusercontent.com/assets/16273780/25786333/7ef3b364-33d6-11e7-965f-bd9a245b2098.png)

I tried the following

[code]

The result was the following:

You get the column chart bunching up... thats the sliver of red line coming up on the left handsi

[2017-05-08 01:03] jbkunst commented on #307
Hi @wave-electron

Sadly no. There is no possible enhancement for `hc_yAxis_mulitples` to handle this because as you mention, the two charts _share_ the same range of the `xAxis`. This is a highchartsJS limitation.

Maybe a _dirty hack_ would be plot you bar chart in the -180 to 180 range (your first category on x = -180, and your last one in x = 180), and then put name of the categories to _hide_

[2017-05-08 01:23] wave-electron commented on #307
Ok. Thanks for the quick reply. BTW, it's awesome this wrapper josh. Really amazing work you've done!

A sort of related issue is if you choose bar & column as the multiples because the axis are reversed. So multiples are only going to work where the x, y axis are equivalent.

[2017-05-08 09:43] wave-electron commented on #307
@jbkunst

I tried out your -180 to 180 on the hc_xAxis(categories hack with no luck. The number range on both the map axis range seem much larger between -950 & 10,000. I then  tried using larger ranges for my categories setting the categories values spread between -900 and 10,000 but again no luck. I have a suspicion based on the way its zooming into the chart that the x,y axis are linked for map

[2017-05-09 04:30] timsneath opened #308 "Font fallback on Edge because of missing MIME type"
On Edge, the embedded fonts used for charts aren't rendering correctly, but are falling back to a default. This seems to be because the MIME type isn't specified for the stylesheet references in highchart.js and highchart2.js.

On Edge 40:
![edge](https://cloud.githubusercontent.com/assets/2319867/25835669/7274f2ec-3435-11e7-8dd9-7acf25c5e0e5.png)

On Chrome 57:
![chrome](https://cloud.githubuserc

[2017-05-09 14:07] jbkunst commented on #308
@timsneath,

Oh, my fault! I forgot add the MIME type. Thank you very much for that PR!

[2017-05-09 17:13] jbkunst commented on #308
closed by #309

[2017-05-09 17:13] #308 closed

[2017-05-09 17:13] jbkunst commented on #307
Do you have some _reproducible example_ to play with?

[2017-05-09 18:30] timsneath commented on #308
Thanks so much!

[2017-05-09 19:03] jbkunst commented on #308
No! Thanks to YOU!

[2017-05-09 21:37] wave-electron commented on #307
I'm now exploring a more useful way of generating the secondary plot.

Here's an example :  [Highcharts  javascript fiddle]
(http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/maps/demo/rich-info/)

Rather than simply generate a  new chart type on a mulitple y-axis. You generate rich information based on selection. A bit like your hc_drilldown works.

You use the sel

[2017-05-10 16:22] jbkunst commented on #307
What you want to do/show?  May be there are others approach to show the data you are using.

[2017-05-10 16:28] jbkunst commented on #307
I forgot to tell you about an alternative to the jsfiddle, look at the final chart of http://jkunst.com/r-material/201703-DataVisualizationMeetup/code.html Instead of put in other `div` you can use the tooltip :)

![image](https://cloud.githubusercontent.com/assets/56481/25909737/7d13e42e-3584-11e7-9b53-5f4552c9d424.png)

[2017-05-10 21:50] wave-electron commented on #307
Ok I didn't know that. Another good option I might play with.

This is how I've now got it working in my shiny worldbank  app.

![screen shot 2017-05-11 at 7 30 37 am](https://cloud.githubusercontent.com/assets/16273780/25922394/6b95c12a-361c-11e7-9877-4bd12e7dc8cf.png)

If you make multiple country selections it goes to line type.

![screen shot 2017-05-11 at 7 47 00 am](https://cloud.githubuserc

[2017-05-13 06:51] alexpghayes opened #310 "hctreemap() fails to render with cellnames repeated across levels"
Treemaps with cell names that are not unique across all levels silently fail to render:

[code]

Only came up because missing values in my dataset were coded as "Unknown" and `d3treeR` supported this:

[code]

Would love to have this if it's easy to implement. If it's not, I'd go for a useful error message -- I've never made a pull request before but this seems like a good place to start.

[2017-05-15 01:39] Rhoboot commented on #295
Yes, now it works for me (draws the box), but notice another problem, since it is a draggable box, moving it leaves the text in the original position.

[code]
<img width="875" alt="screenshot of rstudio 5-14-17 21-38-39" src="https://cloud.githubusercontent.com/assets/7344313/26039880/baa87b9e-38ed-11e7-82ba-3493507efcff.png">

[2017-05-15 01:48] Rhoboot opened #311 "How do I format a particular point?"
I am trying to replicate this case in

Http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/plotoptions/series-datalabels-box/

<img width="722" alt="screenshot of safari 5-14-17 21-46-32" src="https://cloud.githubusercontent.com/assets/7344313/26039974/d38916c2-38ee-11e7-99b7-a710c2212cca.png">

But I can not give in how the data should be entered to show t

[2017-05-15 05:47] alexpghayes commented on #117
I'm also having trouble with 3 level treemaps at https://textonomer.shinyapps.io/treemap/ with the following settings

Top level heirarchy: Location
Second level heirarchy: Author
Third level hierarchy: Publisher
Max treemap cells: 50
Include Missing: True

If you drilldown on London > Unknown Author, instead of having a single cell for "Unknown Publisher" there are multiple cells, which is incorr

[2017-05-15 18:30] jbkunst commented on #311
@Rhoboot

Not sure how to explain this but use `list` instead of `c`:

[code]
![image](https://cloud.githubusercontent.com/assets/56481/26072823/fd17e20c-397a-11e7-8e60-9e51dcf2f3fd.png)

[2017-05-15 18:57] jbkunst commented on #117
Hi @alexpghayes

This is a well known issue. I'm working in the _rework_ of this function using @kickbox code.

I hope I will fix this in 2 weeks. If you want you can try https://github.com/jbkunst/highcharter/blob/master/dev/treemap5.R

[2017-05-15 18:59] Rhoboot commented on #311
Excellent, it works!

Thank you

[2017-05-15 18:59] #311 closed

[2017-05-16 08:04] dpprdan opened #312 "Dependency purrr::dmap_if deprecated"
The function `dmap_if` used in `hcparcords` is deprecated in `purrr` as of [version 0.2.2.1](https://cran.r-project.org/web/packages/purrr/news.html) and moved to the new package `purrrlyr`. (Why this "aggressive change" was release as a patch beats me, but that's not the issue here. )

This means that the github version of `highcharter` cannot be installed at the moment.

[2017-05-16 11:41] crtahlin opened #313 "Installation of highcharter from github fails due to a dependency with purrr package"
Installation of highcharter from github fails, command and error listed bellow.

[code]

results in (copied only what I considered relevant):

[code]

Looking at the `purrr` package news, it seems that the `dmap_if` function was moved to `purrlyr` package. See: https://github.com/tidyverse/purrr/blob/f355404e11ef7b684aa8b996b5fb7c5a92516e23/NEWS.md

[2017-05-16 11:52] crtahlin commented on #313
Duplicate of #285 , closing.

[2017-05-16 11:52] #313 closed

[2017-05-16 12:03] crtahlin commented on #285
@jbkunst FYI, purrrlyr is now on CRAN.

[2017-05-16 14:39] jbkunst commented on #312
Hi @dpprdan

I'm working on this now. I will close the issue due is duplicated of #285

Cheers

[2017-05-16 14:39] #312 closed

[2017-05-16 14:41] jbkunst commented on #285
@crtahlin

Can you test `source("https://install-github.me/jbkunst/highcharter")` please?

Thanks!

[2017-05-16 14:48] dpprdan commented on #285
Seems to install fine, @jbkunst

[2017-05-16 14:52] dpprdan commented on #312
Yes, sorry, I should have searched for this in the open issues before.

[2017-05-16 15:01] jbkunst commented on #312
No problem! ;)

[2017-05-16 15:01] jbkunst commented on #285
Nice! Thanks for point this out.

[2017-05-17 07:17] crtahlin commented on #285
@jbkunst
`source("https://install-github.me/jbkunst/highcharter")` installs OK for me. Thank you, best.

[2017-05-17 15:06] jbkunst commented on #310
related with #117

[2017-05-22 11:15] nikhilchoudhry opened #314 "R highcharter grouped column drill down chart"
I am struggling in adding one level drill down in my grouped column chart made using highcharter. To explain, I am using the "vaccines" dataset available in highcharter library :

My code (similar) that creates the grouped column chart :
`library (highcharter)
library(dplyr)

df <- na.omit(vaccines[vaccines$year %in% c("1928", "1929"),])
df <- ddply(df, c("state", "year"), summarise, count = sum(c

[2017-05-22 16:47] nikhilchoudhry commented on #314
http://jsfiddle.net/gh/get/jquery/2/highcharts/highcharts/tree/master/samples/highcharts/drilldown/multi-series/

This the final chart with drill down on individual group whay I would like to achieve through datafor..

[2017-05-22 17:36] alexpghayes commented on #310
think this is copy of #32.  have code to deal with this as well as #117 and #98 and hoping to make a PR in the next couple days.

like the `treemap2` function in /dev i'm currently working with a data frame rather than a treemap object -- you okay changing the hctreemap interface to something like

`hctreemap(data, group_vars, size_var, color_var = NULL, ...)`?

not sure what to do with the `hctre

[2017-05-22 20:43] jbkunst commented on #310
Hi @alexpghayes

What will you do in the PR? I'm asking to avoid duplicate efforts.

I'm okay changing the interface, but not sure how approach I will take to deprecate the actual `hctreemap`, for me I would replace the function, but surely is not the best approach.

Do you have any thoughts?

[2017-05-22 22:17] alexpghayes commented on #310
PR will just replace `hctreemap` with new implementation along the lines of your `hctreemap2` except:

* uses dev version of `dplyr` (i.e. new quosure system in 0.5.0.9005+) rather than `data.tree`. hopefully 0.6.0 will come out soon.
* throws an error when index columns have non-empty intersection

Maybe keep the current `hctreemap`, call the new function `hctreemap2` and give a deprecation warni

[2017-05-23 02:24] jbkunst commented on #314
?! 🎃 I will look into it

[2017-05-23 03:01] nikhilchoudhry commented on #314
Thanks jbkunst,

Please consider the data will be dynamic i.e I don't know what will be the id's therefore I can not predefine the id and data syntax of hc_drilldown command.

Regards,
Nikhil

[2017-05-23 20:12] LilianaPacheco commented on #124
Thanks for your help and wonderful package. I have a question, what if I want the label of Vegetables (and "Carrot", "Potato", "Tomato") in a different color? I am trying to add this of code (not sure where) but I am not getting any result:

[code]

Thanks

[2017-05-23 20:20] LilianaPacheco commented on #124
Thank you for your answers and this great package. I have a question, what if I want the label of "Vegetables" (and "Carrot", "Potato", "Tomato") to be in a different color? I am trying to use this piece of code (not sure where to place it) but I'm not getting any result:

`formatter= JS("function () {
        if ('Vegetable' === this.value) {
            return '<span style='fill: red;'>' + this.

[2017-05-23 21:10] jbkunst commented on #124
Hi @LilianaPacheco ,

Compare what you put:
[code]

with the example:
[code]

In R you as you are using `"` at the beginning of the `JS` you need scape the `"` used inside of the text, this is:

[code]

Tell me if this work for you ;)

[2017-05-23 22:08] LilianaPacheco commented on #124
Thank you @jbkunst!

Well, with your suggestion the label "Vegetable" is red, but "Carrot", "Potato" and "Tomato" are still not red colored. I'm still trying to find the way :(

[2017-05-23 22:18] jbkunst commented on #124
I think you can just use a _or_  (`this.value == 'carrot' | this.value == 'othercarrot' | ...`) in the `if` statement, not that elegant, but possible.

[2017-05-23 22:30] LilianaPacheco commented on #124
Hmmm, and what if the second level states the same number of labels, such as

- Apple= 2015, 2016, 2017,
- Vegetable= 2015, 2016, 2017
 and
- Fish= 2015, 2016, 2017
?

I tried previously your suggestion, but it is coloring all '2015' not just the one for Vegetables but for Apple and Fish too.

Is there some way to specify the level of the series label? Something like: color in the first level when

[2017-05-24 00:52] billlu1984 opened #315 "[Feature Request] Add/Update Data Point"
First of all, this is a great library that makes highcharts so much easier to use with Shiny. The feature I'm looking for is being able to add/update a single data point with some external events. JS Fiddle example:
[http://jsfiddle.net/gh/get/jquery/1.7.2/highslide-software/highcharts.com/tree/master/samples/highcharts/members/point-update-column/](url)

I know I can access the data in the hc obj

[2017-05-24 05:15] wave-electron opened #316 "script master/dev/animation2.R minor bug"
I've been playing with this animation2.R script and noticed the hc_motion was broken on the year sequencing.

line 39

[code]

if you change it to sort(unique(gapminder_unfiltered$year)) it plays the full way through.

[code]

The reason was gapminder had the following unique years (total 12)

`[1] 1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007`

whereas gapminder_unfiltered had the f

[2017-05-24 05:42] jbkunst commented on #316
Right, I will modify the example. Thanks for that!

[2017-05-26 23:28] tanerumit opened #317 "Combining heatmap and scatter plot"
Hi,
I am trying to combine a scatter plot with a heatmap as below.

In order to get the heatmap right, I need convert the x and y axes to categorical variables. However, when I do that, the scatter plot is not well aligned (since underlying data is continuous).

[code]
Any solutions?

[2017-05-31 01:46] parkjared commented on #117
Thanks for this great package! Any updates on the rework that will accommodate 3 level treemaps? I'm building a dashboard and want to know if I can just hold out for your much anticipated updates, thanks!

[2017-06-01 10:12] MarkusBonsch opened #318 "bug in hc_add_series_times_values: marker can not be set"
In the function hc_add_series_times_values, the marker is hardcoded disabled.
I guess, this is not desired. I guess that the function should be changed as follows (just removed `marker = list(enabled = FALSE)`:

[code]

[2017-06-01 13:59] jbkunst commented on #318
Hi @MarkusBonsch ,

`hc_add_series_times_values` is being deprecated, I can _fix_ the code, but I suggest you use:

[code]

;)!

[2017-06-02 06:22] chaudharyparth opened #319 "RStudio crashing on running highcharter treemap"
I'm creating TermDocumentMatrix in R and creating treemap from the sorted matrix. But as soon as i run `hc`, my RStudio crashes.

Code :

[code]

`sessionInfo()`

[code]

[2017-06-02 07:09] MarkusBonsch commented on #318
Thank you very much for the clarification.

[2017-06-02 13:52] #318 closed

[2017-06-02 13:57] jbkunst commented on #319
Hi @chaudharyparth

...I don't know, I run your code without problems.

Joke! I can't see what it's going on if I can reproduce the problem. If you give me an example I can try to fix the problem.

;)

[2017-06-05 05:18] wave-electron commented on #319
@chaudharyparth

Were you attempting to do something similar to this?

![screen shot 2017-06-05 at 3 06 23 pm](https://cloud.githubusercontent.com/assets/16273780/26771281/99ce1fa4-4a00-11e7-9d22-b0d3ba0d9823.png)

using this shiny example on github [Here](https://gist.github.com/jcheng5/9496297)

FYI. Adding your snippet of code into server.R produced the above screenshot of the Wordcloud shiny a

[2017-06-05 09:10] Yang-Tang opened #320 "highcharter interferes server-mode selectizeInput"
When using `highcharter` and `serlectizeInput` in server mode together, the `serlectizeInput`'s input box will jump out of its original position when typing in. This phenotype also happens during page loading. Please see the code below:

[code]
This only happens when the `serlectizeInput` was used in server mode.
I tested `ggplot` and `plotly`. They don't show the issue.
I also run the shinyapp in

[2017-06-05 14:45] Yang-Tang commented on #320
I found it is caused by the class `loading` in "inst/htmlwidgets/lib/highcharts-5.0.7/css/motion.css". This class conflict with the default `loadingClass` of `selectize.js`. Setting the `loadingClass` to non-default value will solve the problem.

[2017-06-05 14:54] jbkunst commented on #320
@Yang-Tang ,

Uff! Thanks for found it! I will keep this open for a future fix!

Thanks again!

[2017-06-05 17:03] chaudharyparth commented on #319
@wave-electron Yeah something like that but with a large corpus containing more than 1200 rows of data.
@jbkunst Follow example of @wave-electron but with a larger dataset.
 Other plots of `highcharter` library have no issues, only `treemap` hangs up my RStudio.

[2017-06-06 00:01] wave-electron commented on #319
I loaded a much larger corpus containing 5756 rows using the the shiny app code above
`nrow(df)
[1] 5756`

The file size was 99KB as txt.gz filetype. The ds list was 2.6 Mb in size. If you look at the tree map snapshot below its pushing the limits of the treemaps readability visually. It took about 25 seconds to load.

[code]

![screen shot 2017-06-06 at 9 28 27 am](https://cloud.githubusercontent

[2017-06-06 02:30] wave-electron commented on #317
You can use multiple Y-axis to align the two plots better... but I don't see it working because your mixing categories for the heatmap x,y axis with numeric or the scatter x,y

[code]
![screen shot 2017-06-06 at 12 24 09 pm](https://cloud.githubusercontent.com/assets/16273780/26811107/13943d5c-4ab3-11e7-9e26-3783597cb147.png)

[2017-06-06 04:02] wave-electron commented on #317
[code]
![screen shot 2017-06-06 at 2 01 20 pm](https://cloud.githubusercontent.com/assets/16273780/26813337/abe0fb06-4ac0-11e7-88c7-10a0139a849c.png)

[2017-06-06 12:35] chaudharyparth commented on #319
Sorry, to bother you guyz but this is a reproducible example i can come up with to demonstrate my `RStudio` crash.

[code]
Additional info :
[code]

Also, my `sessionInfo()` is
[code]

[2017-06-06 14:49] wave-electron commented on #319
@chaudharyparth

I ran your code and my rstudio session didn't crash, it was a bit slow creating the treemap... at least a minute or more rendering.

However, I did get the following error while originally running your code.

[code]
 To fix the problem... I added  `myCorpus <- Corpus(VectorSource(myCorpus))` after the offending line of code  `myCorpus <- tm_map(myCorpus, PlainTextDocument)  & it f

[2017-06-07 09:36] changshun opened #321 "How to modify `Highcharts.setOptions` in highcharter"
Dear jbkunst,

I want the change the default Date format into Chinese, which seems to need modifying `Highcharts.setOptions`  [lang](http://api.highcharts.com/highstock/lang). I do not know how to realize it in `highcharter`.

Thank you!

[2017-06-07 19:37] jbkunst commented on #321
Hi @changshun

Thanks @sy2816 !

Yes, by now, that's the way you can do what you want. Let us know how it goes ;)!

[2017-06-08 07:35] chaudharyparth commented on #319
Thanks, that fixed my problem. Although the speed of treemap creation is still slow, will look for an alternative there.

[2017-06-08 07:35] #319 closed

[2017-06-09 13:43] sy2816 opened #322 "Only first series of multi-series scatter/bubble charts displaying on latest development version"
After installing the latest development version, I noticed some strange things going on with the scatter/bubble charts using hchart. Only the first series of a multi-series scatter/bubble plot is displaying for me by default, despite the fact that the other series are not hidden. I've found that you can eventually see the other series by hiding/unhiding the other series, but it takes a lot of work

[2017-06-14 18:49] jbkunst opened #323 "hcboxplot `Error in mutate_impl`"
Posted by @neilfws in twitter

[2017-06-14 18:50] #323 closed

[2017-06-15 09:38] chriswweibo opened #324 "hcboxplot function error"
I am running the official example, but an error reported.
[code]

error:
Error in mutate_impl(.data, dots) :
  Column `data` must be length 1 (the group size), not 5

Confused!

[2017-06-15 14:16] jbkunst commented on #324
Hi @chriswweibo,

Fixed in #323 ;)!

[2017-06-15 14:16] #324 closed

[2017-06-16 06:47] samWieczorek opened #325 "Different colors in boxplots"
Hi,
I use the function hcboxplot to draw boxplots, for example : x = iris$Sepal.Length, var = iris$Species, color = "red").
I would like to color the boxes with different colors. for example, blue for 'setosa' and 'versicolor' and green for 'virginica'.
How can I do that ?

Thanks in advance

Best regards
Sam

[2017-06-16 09:26] MustafaWaheed91 commented on #315
I am having the exact same problem

[2017-06-16 09:34] S-UP opened #326 "Define width by chart in hw_grid"
Hi,

When using hw_grid() on e.g. a time series and a column chart, the column chart gets 50% of the width available of the combined object. I would like to do something like a 2:1 split. I've tried to set the chart width in the column chart, but this seems not to translate into the combined object in hw_grid().

Would be great to hear how you would suggest solving this, and whether we can expect

[2017-06-20 01:26] paulditterline commented on #283
So glad I found this thread. Using ghostwriter theme for my blogdown blog and no charts when I push, although they show up on locally. Seems I need to switch themes!

[2017-06-20 02:56] miluylin opened #328 "Set dual yAxis and multiple yAxis in one plot"
Hi jbkunst,
I would like set the multiple yAxis in sequence.
1. Dual yAxis (price (type = candlestick )and volume (type = column))
2. MACD
3. RSI
4. KD

Could you give an example that combining dual yAxis and multiple yAxis in chart?

Once I set the `hc_yAxis_multiple` in format list(), list(), list(), it shows in the first Dual yAxis only.
For dual yAxis, it can be done by below.
1. Dual yAxis (p

[2017-06-20 03:30] jbkunst commented on #283
I will look into it because that's not the idea! So it's seems correct to reopen the issue.

[2017-06-20 15:27] JellisHeRo opened #329 "How can I convert a shapefile or geojson to a large list like "uscountygeojson" data?"
I've been very curious about this and never considered the possibility of a map taking the form of a "Large list" like some of the data from the `highcharter` package.

[2017-06-21 03:22] wave-electron commented on #328
Is this the kind of stock chart UI your trying to build with highcharter?

<img width="2553" alt="screen shot 2017-06-21 at 1 17 23 pm" src="https://user-images.githubusercontent.com/16273780/27365617-530f56d8-5684-11e7-8d7e-af91a62a2f7e.png">

[2017-06-21 03:31] wave-electron commented on #328
A small code chunk of how you format the chart above.

[code]

[2017-06-21 03:41] wave-electron commented on #328
Example of the same chart UI with only Volume, OHLC and event flags selected.

<img width="2466" alt="screen shot 2017-06-21 at 1 39 07 pm" src="https://user-images.githubusercontent.com/16273780/27366076-2b40fbea-5687-11e7-982a-45a70705a30e.png">

[2017-06-21 03:44] wave-electron commented on #328
code chunk for the one above

[code]

[2017-06-21 04:08] miluylin commented on #328
@wave-electron Thanks for this great example. I'm stuck here for few weeks.

 I saw your suggestion then I just change the quantmod chart to highcharter.

Thanks for your suggestion again.
<img width="684" alt="2017-06-21 11 57 10" src="https://user-images.githubusercontent.com/18286058/27366622-e90f02ec-5679-11e7-8a30-e1be15dc6659.png">

[2017-06-21 04:08] #328 closed

[2017-06-21 04:19] jbkunst commented on #328
Thanks @wave-electron that is a _really good and complete_ example :D!

[2017-06-21 04:24] miluylin commented on #328
Thanks @jbkunst  highcharter is very useful.

[2017-06-21 04:30] wave-electron commented on #328
@miluylin

Thanks @jbkunst highcharter is very useful.

You can say that again! Awesome package.

[2017-06-22 04:15] neilfws opened #330 "[Feature Request] Show number of data points per subgroup in hcboxplot tooltip"
Given `hcboxplot(x = dataset$values, var = dataset$group, var2 = dataset$subgroup)`, it would be useful to know how many observations each subgroup box contains. The obvious place to display this information would be the tooltip.

I had a look at the `hcboxplot` code and noted that `boxplot.stats` is used to return the box values (`$stats`). Perhaps `$n` could also be returned and displayed?

[2017-06-22 09:57] GiCollini opened #331 "Select option export in hc_exporting()"
Hi,

Is it possble to select which options are shown in the menu generated by hc_exporting() among "Print chart", "Download PNG image", "Download JPEG image", "Download SVG vector image", "Download PDF document", "Download CSV", "Download XLS" and "View data table"?

In particular I would like to not have "Print chart" and "View data table"

Thanks,

G.

[2017-06-22 14:48] CamilaAchury opened #332 ""mapline" "mapbubbles" issue"
Hi! In the  previous version to 0.5.0.9999 when you added bubbles and lines in a map worked perfectly. But now hc_add_seres with type = "mapline" or "mapbubbles" doesn't add layers in a map, why?

[2017-06-22 15:42] jbkunst commented on #332
Hi, @CamilaAchury

Please, provide an example to work with. Thanks

[2017-06-22 22:04] CamilaAchury commented on #332
Hi @jbkunst  I share with you the next example , which is in your page:

cities <- data.frame(
  name = c("London", "Birmingham", "Glasgow", "Liverpool"),
  lat = c(51.507222, 52.483056,  55.858, 53.4),
  lon = c(-0.1275, -1.893611, -4.259, -3),
  z = c(1, 2, 3, 2)
)

hcmap("countries/gb/gb-all", showInLegend = FALSE) %>%
  hc_add_series(data = cities, type = "mapbubble", name = "Cities", maxSize

[2017-06-23 09:29] samWieczorek commented on #325
Hi
a complementary question : Will it be possible to use the function hc_add_series_list with the type="boxplot' ? Il will solve the problem of different colors for different boxes

Sam

[2017-06-24 15:05] bhaskarvk commented on #283
Rightnow widgetframe works with every other html output format except blogdown. I have an open issue for this https://github.com/rstudio/blogdown/issues/38. This is not something I can easily fix in widgetframe, but something to be handled at blogdown end.

[2017-06-27 18:13] jbkunst commented on #332
Hola @CamilaAchury , que tal?

Can you install the dev version and try again (`source("https://install-github.me/jbkunst/highcharter")`)?

(https://github.com/jbkunst/highcharter/commit/3f0c92e861331d54457b5b74aa342fc45e8c80dc)

[2017-06-27 18:16] jbkunst commented on #329
Hi @JellisHeRo ,

Sorry for the late reply.

Not sure about your question can you be more specific? Basically a geojson is a json with some specific format and a json is like a list or a nested diccionationatry, etc, so nothing weird there  :sweat_smile:

Tell me if this convinces you

[2017-06-27 18:17] #321 closed

[2017-06-27 18:18] jbkunst opened #334 "Make some knitr like function to set options"
#321

Somethink like hc$set(arg = value) idw

[2017-06-27 18:20] jbkunst commented on #322
Hi @sy2816

Sorry for the late reply, I run your code from the dev version and it worked, can you try again. Not sure what happend here.

[2017-06-27 18:53] jbkunst commented on #283
Thanks @bhaskarvk for the update!

[2017-06-27 20:18] jbkunst commented on #326
Hi @S-UP

Sorry for the late reply.

highcharter have inside its dependencies simple-grid.css. So you can use htmtools package and simple-grid.css to do whatever you want. For example:

[code]

![image](https://user-images.githubusercontent.com/56481/27608041-fa75fb88-5b53-11e7-894a-559163a430c0.png)

Note that simple grid have a responsive behaviour so if you window in small then you will see one

[2017-06-27 20:18] #326 closed

[2017-06-27 20:49] jbkunst commented on #317
Due the help from @wave-electron I'll close the issue! Thanks @wave-electron

[2017-06-27 20:49] #317 closed

[2017-06-27 20:51] sy2816 commented on #322
I installed the latest development version and no longer have the issue.

[2017-06-27 20:51] jbkunst commented on #322
Thanks!

[2017-06-27 20:51] #322 closed

[2017-06-27 22:05] #281 closed

[2017-06-28 07:23] rsquaredacademy opened #335 "Unable to reproduce boxplot shown in website"
Unable to reproduce the boxplot shown in shortcut section of the website. The `hcboxplot()` function returns an error message.

[code]

I tried using a different data set but the same error message is returned.

[code]

[code]

[2017-06-28 14:33] jbkunst commented on #335
Hello @rsquaredacademy , this was a known issue, fixed in #323 ;)!

[2017-06-28 14:33] #335 closed

[2017-06-28 14:44] jbkunst commented on #332
I will close the issue but we can reopen if you keep with problems ;)!

[2017-06-28 14:44] #332 closed

[2017-06-28 15:00] CamilaAchury commented on #332
Holaa! @jbkunst  ya funciona perfecto, muchas gracias!

[2017-06-28 15:24] rsquaredacademy commented on #335
sorry @jbkunst. I should have tried with the development version.

[2017-06-28 16:36] jbkunst commented on #332
Que bueno @CamilaAchury ! De nada, para eso estamos!

[2017-06-28 21:35] wave-electron commented on #307
I’ve got to improve a few things & then will make the app code available on GitHub. Will keep you posted.

[2017-06-29 01:21] wave-electron commented on #307
@jbkunst

You can showcase this demo of shiny app using highcharter in the meantime.

![screen shot 2017-06-29 at 11 19 17 am](https://user-images.githubusercontent.com/16273780/27667245-e363b9d4-5cbc-11e7-9fa8-b11a56e3a270.png)

[Stock Charts Demo](http://www.shinyapps.info/shiny/StockChart/)

username: demo
password: highcharter

[2017-06-30 09:31] ewymathe opened #336 "hc_boxplot Error in mutate_impl(.data, dots)"
I am trying to use hc_boxplot (over the deprecated hc_add_series_boxplot) but cannot get the example to work:

[code]
Can you please advise?

Here is my sessionInfo()
[code]

[2017-07-01 09:19] EnricowithR opened #337 "hcboxplot missing outliers on version 0.5.0.9999"
Hello,

I am running with the version 0.5.0.9999 the following example
data(diamonds, package = "ggplot2")
hcboxplot(x = diamonds$x, var = diamonds$color,
          name = "Length", color = "#2980b9")

but the boxplot does not show the dots for the outliers, while they appear in the documentation:
http://jkunst.com/highcharter/shortcuts.html

[2017-07-06 10:58] miluylin opened #338 "How to show the last data label only"
I would like to show the last data label only in highcharter but the plot shown all data labels.

reference : http://jsfiddle.net/highcharts/mAJtj/

[code]

[code]

<img width="659" alt="2017-07-06 6 55 21" src="https://user-images.githubusercontent.com/18286058/27908144-010c4c88-627d-11e7-8b00-4288e66009a6.png">

[2017-07-06 14:50] abresler opened #339 "Try to replicate click tooltips"
Working through this on my end as well but figured would be best to post here as well.  Would be great to try to replicate this customized click tooltip example.

[Clickable Tooltip](http://jsfiddle.net/2swEQ/2/)

Thanks and as always you do absolutely incredible work, can't thank you enough for your contributions to the R community Josh!

[2017-07-10 06:59] S-UP opened #340 "Scatter + Regression Lines"
Dear all,

ggplot2 allows to include regression lines in scatters. It would be great to have this feature available also in highcharter.

Ideally, one could e.g. scatter over a group like Males and Females combined while giving the user the option to deselect one gender. Then, the chart would automatically update with a corresponding regression line.

Many thanks for your consideration!

[2017-07-11 18:53] S-UP commented on #326
Awesome. Thanks a lot!

[2017-07-14 19:47] sidbhadur2 opened #341 "Drilldown Question"
Is there a way to control the axis labels and axis types for drilldown charts?

[2017-07-15 19:04] saifkabirasif opened #342 "Custom Tooltip"
Hi,

I'm trying to add a custom tooltip but it is not working.
What I am trying to achieve is to have tooltip of each point to show Region and Target.
Example for for first case :
Region: Ab
Target: 2

Need your help in this regard.

`
df<-data.frame(c(2011,2012,2013,2014,2015),
               c('Ab','Bc','Cd','De','Ef'),
               c(2,4,3,5,10)
               )

colnames(df)<-c('Yr','Region'

[2017-07-17 17:28] jbkunst opened #343 "helpers to make minicharts in tooltip"

[2017-07-17 18:03] abresler commented on #339
And here is!!

[code]

[2017-07-18 03:02] jbkunst commented on #339
Hey @abresler ,

Reallly sorry for the delay!  Glad you fin an answer! 😅

[2017-07-18 03:02] #339 closed

[2017-07-18 03:08] jbkunst commented on #342
Hi @saifkabirasif !

First of all, try to format your code, you need to use ``` (3 ` ) please ;)!

Secondly, see http://api.highcharts.com/highcharts/tooltip.pointFormat and its example http://api.highcharts.com/highcharts/tooltip.pointFormat, then try something like `{point.Target}`.

Please, tell me if this work for you.

[2017-07-18 03:09] jbkunst commented on #342
[code]

[2017-07-18 03:09] #342 closed

[2017-07-18 03:12] jbkunst commented on #338
Not sure why doesn't work for you.

[code]
![image](https://user-images.githubusercontent.com/56481/28299141-5f653e68-6b45-11e7-9e56-3eab5b206b21.png)

![image](https://user-images.githubusercontent.com/56481/28299144-6ad1c1b8-6b45-11e7-9bf4-6f9d72d69d98.png)

Tell me why!!! 😅

[2017-07-18 03:12] #338 closed

[2017-07-18 03:13] jbkunst commented on #338
I just set the `enabled = TRUE`

[2017-07-18 03:17] jbkunst commented on #336
Hi @ewymathe

Fixed in #323 ;)!

[2017-07-18 03:17] #336 closed

[2017-07-18 05:13] saifkabirasif commented on #342
THANK YOU.
That worked man. "hcaes" is the key. I was also wondering if I pass data.frame to add_series, how does it know which is x-axis and which is y-axis. This also solved that issue.

[2017-07-18 23:22] miluylin commented on #338
It doesn't work. Thanks for your testing.
I will try to represent the format in another way.

[2017-07-19 02:36] jbkunst commented on #338
Do you have a minimal reproducible example? Do you have the development version?

[2017-07-19 15:19] miluylin commented on #338
Thanks for solve problems.
I will try to re-install the development version later.

Here is the minimal reproducible example, I don't know why it still doesn't work
Data frame cc with colname "Data"
                     Data
2016-01-04 34.77
2016-01-05 34.91
2016-01-06 35.01
2016-01-07 35.33
2016-01-08 35.59
2016-01-11 35.92

[code]
<img width="581" alt="2017-07-19 11 13 13" src="https://user-imag

[2017-07-19 15:32] miluylin commented on #338
After re-install the dev version. Test result is the same.
It will be great if this problem can be found. I'd appreciate your help.

[2017-07-19 16:00] jbkunst commented on #338
@miluylin :sweat_smile:

It seems `format` and `formatter` override each other. So remove the `dataLabels = list(format = '{y}%')` and put that "%" inside the formatter function.

[2017-07-19 23:18] miluylin commented on #338
@jbkunst
I remove the format, but no data label shows in the plot.  :(

[code]

<img width="665" alt="2017-07-20 7 13 16" src="https://user-images.githubusercontent.com/18286058/28393742-1779ba7a-6d1b-11e7-8c6a-13849c8e2773.png">

[2017-07-20 01:18] jbkunst commented on #338
Hi @miluylin ,

Take a look, try to copy/paste if this didn't work you can try with a simple `formatter` function to try to debug the problem. I don't have more information to help you. You can try changing the browser,  etc.

[2017-07-20 12:58] miluylin commented on #338
Hi @jbkunst,

Thank you again, it works, I will try to figure out why previous config still show nothing.

[2017-07-20 13:27] miluylin commented on #338
I think that I found the problem,  while the data class is data.frame, it works.
The original data class was xts,zoo, the last data label will not show in the plot.

Again, Thank you and this powerful package.

[2017-07-20 18:43] jpzhangvincent opened #344 "Heatmap with hierarchical clustering results"
I really like the highcharter package. I wonder whether it's possible for the heatmap to show the hierarchical clustering result and make the labels in the corresponding order, like the "d3heatmap" and "heatmaply" packages.

[2017-07-24 16:50] MartinGuth opened #345 "Strange reactive update behaviour with div wrapped around highcharter objects"
Hey Joshua (@jbkunst),

first of all: I really love your package! It makes shiny apps even better! And I would like to thank you for your quick responses here and over at Stackoverflow - saved my developer-life quit a few times now ;-)

However, I discovered a strange reactive update/render behaviour with the charts when you wrap an object with a div and set the same name for both IDs, the div ID

[2017-07-25 22:49] bia-araujo opened #346 "How to format a dataLabel from seconds to MM:SS?"
Hi, I have started using the Highcharter package recently, and I think it´s great. Thanks for your work on it. =)

So, let´s go. I have a dataframe which looks like this:

[code]

What I need is to plot the seconds in yAxis, using the format "mm:ss" (This is already working). But I also need to change the dataLabels to the same format (They are still showing as seconds * 1000). I have tried the fo

[2017-07-26 03:45] bia-araujo commented on #346
Nevermind, just figured it out =)

[code]

Thanks a lot again !!!

[2017-07-26 03:45] #346 closed

[2017-07-27 04:30] nicholaelaw commented on #337
I also ran into this. No outliers are shown, almost.

[code]

![image](https://user-images.githubusercontent.com/10719482/28654467-248f8346-72c7-11e7-94f3-bb231440ac1c.png)

[2017-07-27 15:00] MathieuMarauri commented on #112
Hello,

Thank you a lot for this great package. I am having lots of fun using it.

I want to be able to hide/show a serie in a chart from an input button without having the plot being rerendered. It seems to be linked with this issue. Are there any news?

Thank you again for this package.

Mathieu

[2017-07-31 09:39] nicholaelaw commented on #297
Same here. Tried looking in the dev console in Chrome, but found no obvious culprit. However I did notice that there's not a single event listener on `highcharts-container` from the Highcharts demo, while the chart generated through hightcharter has a number of them.
Perhaps the problem originates from the `htmlwidget` container?

[2017-08-09 09:25] prise6 commented on #245
Hi,

Is the code in dev/crosstalk supposed to work ?
I don't really understant how the function hcct work right now. Any example ?

Thank you!

[2017-08-10 10:03] mavelli opened #347 "export_hc does not quote errorbar elements 0.025quant 0.5quant 0.975quant"
the code:
`
hc_p5 <- highchart() %>%
  hc_chart(zoomType = "xy") %>%
  hc_title(text = "bla bla")  %>%
  hc_xAxis(lineWidth = 2, categories = KANTON$ID) %>%
  hc_yAxis(plotLines = list(
    list(color = "grey",
      width = 3,
      value = 1))) %>%
  hc_add_series(KANTON, type = "errorbar",  mapping = hcaes(y = RR, low = lower, high = upper )) %>%
  hc_add_series(KANTON, type = "point", mapping

[2017-08-10 19:12] S-UP opened #348 "Feature request/ bug: Preserve order of series labels"
Hi,

When running a stacked column chart with a categorical variable on the x-axis and a grouping over another categorical variable, then highcharts preserves the order of the x-axis variables, i.e. it displays the values in the order in which they were present in the initial data frame.

However, the series labels are always sorted alphabetically. This is an issue when e.g. grouping like '1x', '2

[2017-08-10 19:36] jbkunst commented on #348
Hi @S-UP ,

Please provide alway a reproducible example :)!

[2017-08-11 22:10] dwidoo opened #349 "how to remove annotation buttons from plots please?"
how to remove annotation buttons from plots please?

[2017-08-11 22:13] dwidoo commented on #349
just solved this by adding this to options `op`
`op$annotationsOptions <- list(enabledButtons=FALSE)`

[2017-08-11 22:13] #349 closed

[2017-08-12 03:04] ttrodrig opened #350 "Heatmap tooltip as nice as correlation plot (Request/Question)"
Supplying hchart() with a correlation matrix produces a nice out-of-the-box plot with the following benefits:
- Tooltip includes corresponding X and Y text separated by a "~"
- No reference to a data "series" (obviously, since a matrix is being supplied)

I was wondering if either: a) there was a way to replicate the tooltip appearance when using the "heatmap" option in the hchart() function, or,

[2017-08-17 16:38] GiCollini opened #352 "Map drilldown"
Hi,

What about having the drilldown option available for maps?
Any progress about https://github.com/jbkunst/highcharter/blob/434aedede8328d8722a0342a8d6e6609a6eafe65/dev/map-drilldown.R
?

That would be awesome!

G

[2017-08-20 16:36] anz000 opened #353 "Fonts : Need R's default font, and Relative Sizing text and Labels"
Hi,

Is there a way to create the look of the plots from Highcharter same/similar to the R default's plots? I tried with font changes and all, but the relative sizing (according to the width and height of the plot) of the fonts is a huge hassle. I'm using "em" for font sizes, which displays correctly in Rstudio, but is not exporting correctly in vector formats (pdf and svg), while working fine for

[2017-08-21 16:15] nicholaelaw opened #354 "[Doc]Internationalization key for 'View data table'"
Just dug this out from the source:

`lang` option key for export menu 'View data table' is `viewData`.

[2017-08-21 16:26] mcandar commented on #66
Is it possible to use hw_grid function nested? I want to locate my plots in a layout like this

[code]

two graphs at left and one bigger at right-hand side. Also, I want this pattern to repeat several times as rows. I tried to use hw_grid function in nested forms, but did not make it work.

[2017-08-21 19:10] jbkunst opened #355 "Add as option the hover legend effect"
[code]
in `hc_legend` I guess?

[2017-08-21 19:23] jbkunst commented on #66
@mcandar

Not sure, but you can try https://github.com/FrancoisGuillem/combineWidgets It supposed to do what you want :sweat_smile:

[2017-08-22 08:45] mcandar commented on #66
@jbkunst  thanks! combineWidgets function is also included in manipulateWidget package. They work properly but now I have problems with sizing and adding slider when exporting them as html ... 😄

[2017-08-23 07:06] S-UP commented on #348
Hi again,

Sorry for the delay. Below is a reproducible example.

I guess I would prefer a solution that simply keeps the sorting of groups in accordance with the sequence they appear in the data set. This seems simple and, generally, consistent with expectations. Alternatively, an option to sort by defined variables would do the trick as well.

For instance, what I did in my charting script (not

[2017-08-23 20:10] jbkunst commented on #310
Fixed in #327 by @alexpghayes  ;)!

Ensure to have different key in the grouping vars

[code]

[2017-08-23 20:10] #310 closed

[2017-08-23 20:21] jbkunst commented on #117
Hi everyone,

@alexpghayes create in the dev version the `hctreemap2` function, so if you still have the issue please try it.

I tested the @kickbox  example using:

[code]
With 0 problems

[2017-08-23 20:21] jbkunst commented on #98
This was fixed in #327. Thanks!

[2017-08-23 20:21] #98 closed

[2017-08-23 20:24] jbkunst commented on #110
Fixed in #327!

[2017-08-23 20:24] #110 closed

[2017-08-23 21:29] jbkunst commented on #302
Hi @dpprdan ,

Soory for the delay!

I posted some rpubs to show why the result in every chart http://rpubs.com/jbkunst/301558 , tell me if this is clearer.

I will close the issue but you/we can reopen if is needed ;)! Thanks.

[2017-08-23 21:29] #302 closed

[2017-08-23 21:36] jbkunst opened #356 "Upgrade to Highcharts 5.0.14 (2017-07-28)"
realated to #275

[2017-08-24 02:38] nicholaelaw opened #357 "hc_map: responsive legend does not work properly"
Here's out map chart, direct from the [introduction](http://jkunst.com/highcharter/highmaps.html#choropleths):

[code]

Add some responsive rules:

[code]

Original chart [width = 600]:
![hcmap1](https://user-images.githubusercontent.com/10719482/29646339-7381ce9c-88b5-11e7-8fee-009aef1e4c6e.png)

Responsive [width = 600]:
![hcmap_2](https://user-images.githubusercontent.com/10719482/29646373-b513

[2017-08-24 02:57] jbkunst commented on #357
Hi @nicholaelaw,

Surely is a highcharts bug. Let me make some test (using chart/stocks) to have more information.

[2017-08-24 03:11] nicholaelaw commented on #357
Of course. I should note that the example in `hc_reponsive` doc works fine, so at least it works with `highchart()`.

[2017-08-24 13:58] jbkunst commented on #354
Hi @nicholaelaw

Sorry, not sure where to look. did you mean here https://github.com/jbkunst/highcharter/blob/master/R/zzz.R#L39?

[2017-08-24 13:59] jbkunst commented on #353
Hi @anz000

What have you tried?

[2017-08-24 14:01] jbkunst commented on #352
Hi @GiCollini ,

This will have some priority in the subsequent (0.7)  release.

Do you have some use case where this is useful?

[2017-08-24 14:18] nicholaelaw commented on #354
Yes. See the attached screen grab:

![image](https://user-images.githubusercontent.com/10719482/29670561-9a4d07da-8919-11e7-85d4-7b41377e2577.png)

Notice in the documentation that `lang` options for "Download CSV", "Download XLS" and "View data table" entries are missing. I couldn't find any clear reference elsewhere either.

[2017-08-24 14:24] jbkunst commented on #350
Hi @ttrodrig ,

Sorry for the delay.

It's easy modify the tooltip.

[code]

And a second alternative:

[code]

[2017-08-24 14:24] #350 closed

[2017-08-24 14:26] jbkunst commented on #32
Show error, fix in #327

[2017-08-24 14:26] #32 closed

[2017-08-24 14:28] jbkunst commented on #344
Hi @jpzhangvincent

Sadly there is no way to make it in one chart. But obviously you can compose charts to make a similiar result. It's not that easy but I think is 100% possible.

I will close the issue but we can keep the discussion if you want ;)!

[2017-08-24 14:28] #344 closed

[2017-08-24 14:29] ttrodrig commented on #350
Perfect.
Thank you!

[2017-08-24 14:30] jbkunst commented on #341
Not sure, I think you can control the axis, not sure about the type. You can search for a highcharts(JS) solution and if exists you can replicate in highcharter.

Do you have a use cases where this is needed?

[2017-08-24 14:36] jbkunst commented on #331
Hi @GiCollini

It possible, you need to see a hicharts(JS) example and then replicate in highcarter.

For example look http://api.highcharts.com/highcharts/exporting.buttons.contextButton and the examples:

- http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/exporting/buttons-contextbutton-menuitems/
- http://jsfiddle.net/gh/get/library/pure/highcharts/hi

[2017-08-24 14:36] #331 closed

[2017-08-24 14:37] #117 closed

[2017-08-25 14:58] anz000 commented on #353
I was using something like this to deal with all the wholesale font changes
`hc_chart(backgroundColor="#FFFFFF", style=list(fontSize = "2em")) %>% `

But it didn't changed the axis labels, so I have to do something like this:
`hc_yAxis(style=list( fontSize = "1em"),labels = list(style=list( fontSize = "1em"))) %>%`

The js example implements a slider that is so easy to manage the zoom label for al

[2017-08-28 00:56] gillesgerlo opened #358 "Tooltip disappears on bubble drilldown"
More precisely, the tooltip formatting disappears when I drill back up to the highest level. I've slightly tweaked the standard drilldown example to make it a bubble chart, as the issue does not persist with column charts:

rm(list = ls())
suppressPackageStartupMessages(library("dplyr"))
suppressPackageStartupMessages(library("purrr"))
suppressPackageStartupMessages(library("highcharter"))

df <-

[2017-08-28 01:19] jbkunst commented on #358
Hi @gillesgerlo ,

Are you using the dev version?

[2017-08-28 03:44] gillesgerlo commented on #358
Hi Joshua,

I now am :) The issue is still there though.

Cheers

[2017-08-28 05:19] jbkunst commented on #358
I think this is a highchartsJS behavior. I'll try to find some info.

[2017-08-28 06:42] gillesgerlo commented on #358
Thanks a lot, appreciate it.
I've never been able to figure this out myself.

[2017-08-28 11:00] juansecal opened #359 "French Characters"
Hello, I wanted to plot a map of french departments.

The problem is that the names are not dowloaded properly, is there an option to fix this?

[code]

Also is there a way to obtain the postal code of the department corresponding to each key?

[2017-08-28 20:17] #359 closed

[2017-08-28 20:17] jbkunst commented on #359
Hi @juansecal

I forgot read the json files with `utf-8` encondig. Thanks! Try to download the development version and try again.

![image](https://user-images.githubusercontent.com/56481/29791770-80a2b962-8c14-11e7-93b7-3b564e5dbf17.png)

[2017-08-28 20:58] juansecal commented on #359
Thank you very much

Le 28 août 2017 10:17 PM, "Joshua Kunst" <notifications@github.com> a
écrit :

[2017-08-29 02:09] nicholaelaw commented on #331
Hmm, @jbkunst, I just tried limiting export options to just PNG and SVG. I failed.

Here's the reference example from Highcharts: [jsfiddle](http://jsfiddle.net/gh/get/jquery/3.1.1/highslide-software/highcharts.com/tree/master/samples/highcharts/exporting/menuitemdefinitions/)

In the example, if you would ignore the `menuItemDefinition` part, is just an array of button names:

[code]

Here's what

[2017-08-29 13:09] juansecal commented on #359
Allthough I was completely unable to install the dev version, tried
everything but the master zipfile on github seems to be differently
structured than CRAN files.

Le 28 août 2017 10:58 PM, "Juan Sebastián Calderón Amaya" <
juansecal@gmail.com> a écrit :

[2017-08-29 13:36] jbkunst commented on #359
What did you tried? Did you tried https://github.com/jbkunst/highcharter#installation?

[2017-08-29 13:41] juansecal commented on #359
Yes I tried that.

`devtools::install_github("jbkunst/highcharter")`

gives me error :

[code]

`source("https://install-github.me/jbkunst/highcharter")
`

Gives me error

[code]

I'm trying to install it manually but it seems that one needs to install Rtools first.

[2017-08-29 14:52] jbkunst commented on #359
Mmm... not sure what's going on, I had 0 problem to download using devtools :/

[2017-08-30 01:43] jbkunst opened #360 "hc_add_series.forecast issues"
method don't accept name arg.

[2017-08-30 17:30] jbkunst commented on #348
I'll take a look

[2017-08-30 17:32] jbkunst commented on #345
Hey @MartinGuth !

I will take a look on this!

[2017-08-30 19:30] S-UP commented on #348
That'd be awesome!

Thank you so much for the great support!

[2017-08-30 20:55] #343 closed

[2017-08-30 21:19] #356 closed

[2017-08-30 21:31] jbkunst commented on #340
Hi @S-UP ,

There are some alternatives to do what you want.

1. There is a plugin for highcharts include in highcharter, but you need add the dependency to your widget (highcharter object):

[code]

![image](https://user-images.githubusercontent.com/56481/29895897-36dab610-8db1-11e7-891a-9f4dcc0679b7.png)

2. The second way is use `broom` in a `lm` object and plot that data frame, obviously it's

[2017-08-30 21:31] #340 closed

[2017-08-31 13:57] jbkunst commented on #355
https://stackoverflow.com/questions/11204084/apply-css-style-to-particular-elements-dynamically

[2017-08-31 18:39] jbkunst commented on #266
I did'nt find a way to make this more simple. Until now the clearer way  to override the previous values is doing something like:

[code]

I will close the issue due inactivity from my part but we can reopen :sweat_smile:

[2017-08-31 18:39] #266 closed

[2017-09-01 03:47] gillesgerlo commented on #358
Were you able to find out anything? Alternatively, is there any way to have a button that re-renders/refreshes the whole chart? That would pretty much solve the problem.

Thanks!

[2017-09-01 18:04] SvenGuthe opened #361 "Problems with using highcharts2() boost"
Hi,
i've got a problem with the boost version of highcharts(). I developed a dashboard with shiny and some modules with many highcharts objects. Now i've got the problem, that i have to plot around 6000 points in a scatterplot. highcharts is to slow, so i've tried highcharts2. There is no output ("No data to display") and it is not faster. I read something about the fact, that I can only use only

[2017-09-01 19:57] jbkunst commented on #361
Hi @SvenGuthe ,

Yes, that would be (if I'm correct) enough.

Anyway you need to be clear that boost plugin it's for have a good performance in zoom/tooltips/etc whe the **data is loaded**, so if you send a lot of data from R to browser that would take some time.

Please see https://github.com/jbkunst/highcharter/issues/264#issuecomment-278848430 for more details.

I'll wait for you response befor

[2017-09-01 20:05] SvenGuthe commented on #361
Hi @jbkunst,

thx for that answer. My problem was what you marked as big "data is loaded". I used a large data.frame and sended thousands of useless data to the browser. Now i fixed it and the highcharts2 works perfectly. Also in combination with the normal highcharts graphs. There is no problem to combine them in seperate shiny modules.

Thank you. Issue can be closed.

[2017-09-01 20:06] #361 closed

[2017-09-04 06:44] SvenGuthe opened #362 "highchartOutput2 - Failed to load resource"
Hi again,

my shiny app works fine but now i get an error i can't handle with. I want to change all highchartOutput() to highchartOutput2() so i modified:

`highcharter::highchart() -> highcharter::highchart2()
highcharter::renderHighchart() -> highcharter::renderHighchart2()
highcharter::highchartOutput() -> highcharter::highchartOutput2()`

Now i got a `ERROR: [on_request_read] connection reset

[2017-09-04 13:09] jbkunst commented on #362
@SvenGuthe

That's **not** the way you rename functions. Try something like:

[code]
And then use the function according what you want.

Not sure what is the reason of the message, you should send me a minimal reproducible example to work with to discuss about the possible solutions.

[2017-09-04 13:14] SvenGuthe commented on #362
Oh sorry. I wrote this functions like this `hcoutput <- highcharter::highchartOutput2()`

But i transform the `highcharter::highchartOutput()` to `highcharter::highchartOutput2()`. That's why i use the arrows. That is what a get [https://i.stack.imgur.com/l2uwO.png](url) in the Google Chrome console.

[2017-09-04 13:25] jbkunst commented on #362
With a minimal reproducible example of what are you doing will be easier to solve the problem.

[2017-09-04 13:45] jbkunst commented on #360
Send the lower and upper in the wrong order.

[2017-09-04 13:46] #360 closed

[2017-09-06 16:38] abresler commented on #339
Looks like the the newest update this no longer works.  Will see if I can figure it out

[code]

[2017-09-06 18:22] jbkunst commented on #339
:/ I guess is a highchartsJS issue due the fiddle doesn't work, maybe we can ask in SO.

[2017-09-06 19:13] abresler commented on #339
Ahh well atleast I think this will effect lots of people and hopefully get solved quickly

[2017-09-07 21:06] jbkunst commented on #339
@abresler

I asked about this in the SO questions, they answered https://stackoverflow.com/questions/24204419/highcharts-show-tooltip-on-points-click-instead-mouseover/24206104?noredirect=1#comment79170039_24206104 :sweat_smile:

[2017-09-11 11:51] martinjhnhadley opened #363 "label ordering in barchart is inconsistent"
Consider the following dataset:

[code]

An ordered barchart should be created as follows:

[code]

But the bars are not in the correct order:

![image](https://user-images.githubusercontent.com/9363263/30273210-e5705ce2-96ef-11e7-9272-acd7a541ff19.png)

What is the best way to rectify this, thanks :)

[2017-09-11 13:37] jbkunst commented on #363
Hi @martinjhnhadley

I will look into it. Related with #348

[2017-09-13 15:38] jbkunst opened #364 "knob type chart"
Alternative to https://github.com/htmlwidgets/knob :D

[2017-09-13 19:28] cristianvaldez opened #365 "blank spaces in graph"
Here is the code I used.

hchart(GG, "bar", hcaes(x = paste(Maquina,format(Date_Packaging, "%d-%m"),sep = "-"), y = (TE+TC)/60, group = Maquina, color = SKU))%>%
  hc_title(text = "Programacion de Empaque")%>%
  hc_plotOptions(bar = list(
    dataLabels = list(enabled = FALSE),
    stacking = "grouped",
    enableMouseTracking = TRUE))%>%
  hc_xAxis(title = list(text = "Data Packing"))%>%
  hc_yAx

[2017-09-13 19:37] jbkunst commented on #365
Hola @cristianvaldez

Without data I can'd do much, if you can do a reproducible example it will be easier to see what it is happening.

[2017-09-13 21:41] uhuggins commented on #352
Hi Joshua,
We have a number of examples of drilldown. This was made with the previous version of highcharter: http://onsocialtrends.org/politics/political_history.html

Happy to share data if helpful. Thanks for the wonderful package

[2017-09-13 22:33] cristianvaldez commented on #365
Dear @jbkunst

Here it is

structure(list(SKU = c(33000571L, 33000571L, 33000573L, 33000573L,
33000573L, 33000780L, 33000780L, 33000780L, 33000780L, 33000780L,
33000780L, 33000782L, 33000782L, 33000782L, 33000782L, 33000782L,
33000784L, 33000785L, 33000785L, 33000786L, 33000786L), Producto = structure(c(1L,
1L, 2L, 2L, 2L, 3L, 3L, 3L, 3L, 3L, 3L, 4L, 4L, 4L, 4L, 4L, 5L,
6L, 6L, 7L, 7L), .Label = c

[2017-09-13 22:36] cristianvaldez commented on #365
@jbkunst sorry it is this one

structure(list(SKU = c(33000571L, 33000571L, 33000573L, 33000573L,
33000573L, 33000780L, 33000780L, 33000780L, 33000780L, 33000780L,
33000780L, 33000782L, 33000782L, 33000782L, 33000782L, 33000782L,
33000784L, 33000785L, 33000785L, 33000786L, 33000786L), Producto = structure(c(1L,
1L, 2L, 2L, 2L, 3L, 3L, 3L, 3L, 3L, 3L, 4L, 4L, 4L, 4L, 4L, 5L,
6L, 6L, 7L, 7L), .Label

[2017-09-14 01:19] jbkunst commented on #352
Wow

Hi @uhuggins

Awesome! Can you share the code + data? Anyway I'll put the link in the showcase section http://jkunst.com/highcharter/showcase.

Thanks so much @uhuggins

[2017-09-15 18:44] tpnj opened #366 "Error: 'dmap' is not an exported object from 'namespace:purrr'"
Getting this error while reading a worksheet in google spreadsheets.
Data<- gs_read(data11, ws = "Data", range = NULL, literal = TRUE , verbose = TRUE)
Error is not there when I run gs_edit_cells() function. Tried reinstalling purrr, purrrlyr packages

[2017-09-15 19:08] #366 closed

[2017-09-19 05:43] cristianvaldez commented on #365
Dear @jbkunst what you think I should do.

Thank you.

[2017-09-26 10:24] germayneng opened #367 "replicate heatmap example using hc_chart"
Hi ,

love the package that you have done. For a start, this is based on the heatmap example :

[code]

I have done my own heatmap using the above sample code but i am unable to replicate this using the hc_chart() and hc_add_series method. I believe for heatmaps, i do not have to use hchart() right. **Particularly, where do i add the value in hcaes( value = XXX) for the hc_chart method?**

This is

[2017-09-26 15:59] jbkunst commented on #367
Hi @germayneng

In your code you need to specify the `aes`. In your last line, did you tried something like:

[code]
?

If this don't work it would be helpful if you can do a [reprex](https://github.com/tidyverse/reprex)

[2017-09-27 03:13] germayneng commented on #367
[code]

This did the trick. :) thank you! One more thing, if you were to define hcaes in add_series, then we do not need to add it in hc_yaxis and hc_xaxis for the categories right?

[2017-09-27 08:36] #367 closed

[2017-09-28 13:54] samWieczorek opened #368 "Use the legend of heatmap in a bar plot"
Hi
I would like to reuse the default legend of the heatmap (a gradient color with some value) but with a bar plot.
Is it possible  ?

Many thanks

Regards
Sam

[2017-10-02 06:33] samWieczorek commented on #331
Hi @nicholaelaw,
I have exactly the same question as yours. Did you find a solution for the 'undefined' items ?

[2017-10-02 12:04] nicholaelaw commented on #331
@samWieczorek Nope. I had to adjust my expectations.

[2017-10-03 13:53] samWieczorek commented on #331
I tried this short example. the menu is well displayed but nothing happens with the button click.

    library("highcharter")

    hc <- highchart() %>%
      hc_chart(type = "line") %>%
      hc_series(
        list(
            data = c(29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4)
        )) %>%
    hc_exporting(
        enabled=T,

        buttons=list(

[2017-10-03 14:20] samWieczorek commented on #331
@nicholaelaw : I have installed the dev version of highcharter and your code seems to work

[2017-10-09 01:08] nicholaelaw commented on #331
@samWieczorek I'll give it a test then.

[2017-10-11 09:44] mexindian commented on #285
For what it's worth, `dmap_if` has a new more or less equivalent `modify_if`

[2017-10-11 12:44] jbkunst commented on #285
`dmap_if` was used with `as_data_frame`, now we use `mutate_if` 😅. My rookie dplyr level is decreasing little by little

[2017-10-13 04:17] Giancarlo0390 opened #369 "flexdasboard-forecast"
How can I put labels on mi plot? I can´t add labels to xAxis, beside the legend of  level of forecast don't appear.
 code:
---
title: "Forecast"
output:
  flexdashboard::flex_dashboard:
    orientation: rows
    theme: default
---

[code]
4G {data-icon="fa-line-chart"}
======================================================================
Row
-------------------------------------------------------

[2017-10-18 08:51] wildeyes commented on #296
@milindnirgun maybe this will help https://forum.highcharts.com/highstock-usage/set-volume-color-in-two-panes-candlestick-and-volume-t29671/

[2017-10-19 19:11] quantransform opened #370 "Word Reports"
I have using highcharter for my shiny dashboard but I am asked to gather all the charts into Word documents. I am currently using webshot to do so but sometimes the resolution is not ideal. I've came across a library called rvg (https://github.com/davidgohel/rvg) and I wondered if this is possible to do similar tasks. Like somehow api to download svg chart and use the same technique to get those s

[2017-10-23 15:39] drf5n opened #371 "Could export_hc(hc) return the serials javascript rather than always writing to a file?"
Near the line:

https://github.com/jbkunst/highcharter/blob/0ed253196d33823e82fe4a73692450751534d81b/R/export_hc.R#L93

Could the code test if filename is `NULL` and otherwise return the string?

    if (! is.null(filename))
        writeLines(jslns, filename)
    else
        return(jsnls)

[2017-10-23 19:20] drf5n commented on #371
My use-case was trying to write a html file for use in iframes as in https://stackoverflow.com/questions/46869920/r-highcharter-save-charts-to-html-file-for-external-iframe

My workaround, for version 0.5.0, was this:

[code]

If export_hc() could emit a user-defined prefix and suffix, or could return the serialized object to the caller, it would be more useful.  Maybe an `as='html'` option would

[2017-10-30 02:45] tstoyc opened #372 ""No data to display" when adding flags on an intraday candlestick chart"
Hi,
I am trying to add flags to an intraday candlestick chart and I get "No data to display".
I tried to replicate a slimmed down version of the highstock candlestick jsfiddle:
https://jsfiddle.net/qotyn2rv/1
using the following R code:
require(jsonlite)
require(highcharter)
require(xts)
require(dplyr)

data<-fromJSON('[
               [1317888000000,372.5101,375,372.2,372.52],
               [131

[2017-10-31 15:18] S-UP commented on #348
Not to rush, but in case you already have some good news to share. I'd be very happy to hear about progress on this end. I have developed a nice Shiny application. But not being able to order the data makes it difficult for others to use (it is a self-help tool).

Thanks a ton for your great support and efforts! Much appreciated indeed.

[2017-10-31 20:15] jbkunst commented on #363
Hi @martinjhnhadley

I just saw this is not implemented yet. So by now I offer the next not elegant solution :sweat_smile:

[code]
![image](https://user-images.githubusercontent.com/56481/32246842-18a1bd5e-be5f-11e7-951c-d7c7061a3096.png)

[2017-10-31 20:18] jbkunst commented on #348
Hi @S-UP ,

I just find this https://stackoverflow.com/questions/17997717/highcharts-change-legend-index-order
This is not implemented yet but you can do in the meantime:

[code]

![image](https://user-images.githubusercontent.com/56481/32246961-83e6253c-be5f-11e7-8198-3c63a12c9727.png)

[2017-10-31 20:20] jbkunst opened #373 "Preserve x categories and legend orders"
If this x and/or group variables is factor.

#363 #348

[2017-11-08 05:39] englianhu commented on #51
I tried to plot a [Real Time Forex Graph](https://beta.rstudioconnect.com/content/3143/), may I know how do I set a default `hc_RangeSelector` to zoom into 1 week graph?

By the way, is it possible made the real time graph to change only latest bar compare to whole graph?

[2017-11-08 07:38] S-UP commented on #348
Thanks for sharing! Will have a look at this.

[2017-11-14 08:51] AlexSemenovIRL opened #374 "Dragable Points don't work with regression plugins"
The dev version containing the regression functionality doesn't support dragable points. Is that intentional could the dragable points be supported along with the regression lines?

[code]

[2017-11-14 09:52] nicholaelaw opened #375 "Website down"
Couldn't load the [website](http://jkunst.com/highcharter/showcase.html) properly. It seems that bootswatch has changed the URL of their stylesheet, breaking the webpage.

![image](https://user-images.githubusercontent.com/10719482/32773562-8749c48a-c964-11e7-931b-36e0e79ff9df.png)

[2017-11-14 13:04] jbkunst commented on #375
Thanks for notice that!

Fixed  in 2c2f70a

[2017-11-14 13:04] #375 closed

[2017-11-16 16:01] nuno-agostinho opened #376 "Upgrade to Highcharts 6"
Hey, @jbkunst!

With the release of the [new version of Highcharts](https://www.highcharts.com/blog/news/announcing-highcharts-6/) (with a lot of new charts!), I would like to know when are you thinking about upgrading the library?

Cheers!

[2017-11-16 17:30] AlexSemenovIRL opened #377 "Reset Zoom doesnt reset with Shiny.onInputChange"
Hi Hows things, I want to store the `e.xAxis[0].min` and `e.xAxis[0].max` via `Shiny.onInputChange`  upon zoom selection for further manipulation however I cannot reset zoom after selection. Can you have a look please. I'm on version  `0.5.0.9999` Thank you...

[code]

![chart issue](https://user-images.githubusercontent.com/16254654/32906026-a98fcbda-caf3-11e7-81ee-d1cd453084d8.gif)

[2017-11-16 18:16] jbkunst commented on #376
Hi @nuno-agostinho  how have you been?

Yeah! I know! A lot of great upgrades in this new version. I think I will work on this at the end of this month and then make a new cran release.

[2017-11-21 01:36] jbrant commented on #318
Does hc_add_series with xAxis type of "datetime" only work for dates? I can't get it to work for POSIXct.

[2017-11-21 01:51] jbrant commented on #318
Never mind, the "datetime_to_timestamp" function did the trick. Thanks!

[2017-11-21 10:22] tbenschop opened #378 "Polygon in highcharter"
Is it possible to make a polygon in highcharter? So far I'm not succeeding...
[code]
[I'm trying to replicate a gartner magical quadrant:](https://www.bluelock.com/wp-content/uploads/2016/06/277835.jpg)

[2017-11-21 13:12] jbkunst commented on #378
Hi @tbenschop

In geometry you need at least 3 point to get a polygon, so not sure why you put only 2 points and a `NULL` value.

[code]

![image](https://user-images.githubusercontent.com/56481/33074065-9f3d69f4-cea3-11e7-8706-dfe8a7347f82.png)

[2017-11-22 12:03] mviertel opened #379 "Synchronization"
Hi - first of all, awesome library.

My question: is there a feature for synchronization planned?

See: https://www.highcharts.com/demo/synchronized-charts

Best
Michael

[2017-11-23 01:50] #378 closed

[2017-11-23 01:52] jbkunst commented on #376
closed in 9505a2cbe7dbf86ee7cb38ff5203cd9c06ec114a

[2017-11-23 01:52] #376 closed

[2017-11-28 07:26] Jeeva-Ganesan opened #380 "hc_exporting not working - showing blank page"
Hi,

I am not sure how i can debug this, my graph is working fine. But the download options opening a blank page. I tried to run the same code in some other machine, it works fine (pdf is not working though). Attaching here the screenshot and session info. Please let me know what other details required to debug this. I even tried to see rstudio log, no information on that. I tried one of the demo

[2017-11-29 13:17] joscani opened #381 "Strange error using highcharter inside a amazon emr"
Next simple code fail in my EMR.

[code]

And get this error

But it works in my computer with the highcharter version. Any idea?

[2017-11-29 13:33] jbkunst commented on #381
Hi @joscani ,

I cant replicate de error. Try to update the package or compare the  version of some packages like rlang, dplyr using `sessionInfo()`.

[2017-11-29 13:52] joscani commented on #381
I will try that my sysadmin update the version. The only difference I see is that EMR use R 3.4.1 over centos and my machine use R 3.4.2.
sessionInfo in master node in EMR.
[code]
session Info in my local machine, where highcharter works.

[code]

[2017-11-29 14:37] joscani commented on #381
Hi.Finally it works if I write name parameter in hc_add_series
[code]
Its necessary in amazon linux but not in ubuntu , using the same highcharter library. Is it something related with highart java script in both distros ??

[2017-11-29 15:19] jbkunst commented on #381
Weird, This is not a javascript related at all. Maybe the highcharter  version in the amazon enviorment is a bit old (even is the same number :sweat_smile:, because .9999 are dev versions).

[2017-11-29 15:24] jbkunst opened #382 "Add hc_boost function"
To work with `module/boost.js`

[2017-11-29 16:23] joscani commented on #381
Jajjaa. Too weird, If I use other libraries like widyr, i get a similar error in EMR.

[code]

[2017-11-29 19:32] jbkunst commented on #381
Muy raro. I think you need to update or install the  `tidyverse` package

[2017-11-30 11:56] joscani commented on #381
Today it works. It seems like the amazon guys fix their configuration of rstudio and R respect to yesterday.

[2017-11-30 12:00] #381 closed

[2017-12-17 11:36] joscani opened #383 "How to display text in scatter plot instead data values"
Hi. I try to plot text in scatter plot (like geom_text in ggplot2) but I don't know how to specify option in hc_plotOptions.

I want to plot something like https://www.highcharts.com/demo/bubble
My example

[code]

I get values from size defined in hcaes but I want to show value of  tipo . Any idea? Thanks

[2017-12-17 11:52] joscani commented on #383
Sorry, I just have found a solution

[code]

[2017-12-17 11:52] #383 closed

[2017-12-18 06:46] Bryant-zhu opened #384 "sunburst plot in R ?"
hi there
 I have recently tried to build a daily data analysis report using  R flex dashboard and highcharter.
 as I am almost finished, part of my dashboard was implemented an awesome package called sunburst in HTML widget (link is here https://github.com/timelyportfolio/sunburstR).
  I just found out that in  JS highchart , they also have the sunburst plot and much better looking.
is there any w

[2017-12-18 13:11] #382 closed

[2017-12-18 13:15] jbkunst opened #385 "Separate hctreemap2 logic to use in hcsunburst"
Related to #384

[2017-12-18 13:17] jbkunst commented on #384
Hi @Bryant-zhu ,

I'm currenlty working in a easy way to make sunbursts with highcharts/highcharter.

I will close this issue, but you can trace it in #385

[2017-12-18 13:22] jbkunst commented on #379
There is no plan to add that feature (anyway I think is possible to be implemented from R using JS).

As alternative you can create a chart adding more than one yAxis like http://jkunst.com/highcharter/highstock#a-more-interesting-example special the next part:

[code]
Other example of this alternative is:

[code]

![image](https://user-images.githubusercontent.com/56481/34108058-545bd890-e3dd-11e

[2017-12-18 13:22] #379 closed

[2017-12-19 07:34] samuelhuerga opened #386 "Color line with alpha (transparency/opacity)"
Hi!

I want to add transparency to a linechart. In Highcharts api, there is nothing related, and in some stackoverflow question it shows that you can use a rgba color, as follows:

[code]
Giving the following result:
![image](https://user-images.githubusercontent.com/12885915/34145578-feedfac2-e496-11e7-8023-69e66d28c575.png)

However, when I try it on highcharter, it seems it doesn't recognise rg

[2017-12-19 12:20] jbkunst commented on #386
Hi @samuelhuerga

Yep, it's seems there is no info in the API but there are some link with useful information about highcharts colors. In particular https://www.highcharts.com/docs/chart-design-and-style/colors.

You can use the `hex_to_rgba` helper function.

[code]

[2017-12-19 12:21] #386 closed

[2017-12-19 16:55] marciolegal opened #387 "including a plot in a html template requires page refresh"
Hi. I tried to use a htmlTemplate() with pure html for the ui and I'm getting a weird behavior with highcharter plots. I'm including it using the tag `<div class="shiny-html-output" id="hcplot"></div>` where  *hcplot* is the output from `renderHighChart` ou `renderHighChart2`. I'm including the the following references in the *head* section of the template manually:
[code]
The plot is bound to a b

[2017-12-20 16:14] bhaskarvk commented on #283
widgetframe now works with blogdown too.

[2017-12-20 22:20] jbkunst commented on #283
Hey @bhaskarvk! Thanks for let us know!  We miss you!

[2017-12-24 04:58] Bryant-zhu opened #388 "stacked bar plot with continuous x-axis"
Hi there
 **I was trying to make a stacked bar plot with a x-axis is date time.**

here is a little demo1:

this works fine for me , it's just that the x-axis  is not a date label
![snipaste_2017-12-24_12-48-02](https://user-images.githubusercontent.com/13691830/34324329-082b5faa-e8aa-11e7-8900-74638cf67e81.png)

`highchart() %>%
  hc_chart(type = "column") %>%
  hc_plotOptions(column = list(

[2017-12-25 10:04] #388 closed

[2018-01-03 09:01] emillykkejensen commented on #370
Highcharts has a build in function for downloading png, pdf, jpg and svg files. You can see it in action here: https://www.highcharts.com/demo/line-basic

To use it with in the highcharter package simply run hc_exporting() - like so:
[code]

There even is an example using the package here: http://jkunst.com/highcharter/plugins.html#exporting-csv

Hope that helped,
Emil

[2018-01-05 10:52] upcnet-dmendez commented on #331
Hi @nicholaelaw & @samWieczorek, I tried your code but it didn't work to me. I had to do some modifications to get a good result:

[code]

[2018-01-11 12:37] dkoltg commented on #212
Hi, is there also a groupedOptions-code to modify the ticks for the main-category only? I would like to hide the ticks between the sub-categories, but leave them between the main categories.

Thanks for any help!

[2018-01-15 10:44] samuelhuerga opened #389 "Spline color in hchart function"
Hi!

I have a grouped dataframe and I want to plot a spline chart, but with custom colors. If I use color argument in hcaes function, it only applies to markers, not splines:

[code]
![image](https://user-images.githubusercontent.com/12885915/34938560-136752ac-f9e9-11e7-80c6-f8cb86e4eb4d.png)

How can I do it the same way I do it in ggplot?
[code]
Thank you!

[2018-01-16 14:15] jflycn commented on #372
I had the same problem when I was trying to add flags to the chart. It seems when the time index has time (not just the date), it will show "no data to display".

[2018-01-27 14:58] lalas opened #390 "turnopposite parameter bug?"
Hello

First and foremost, thanks for an excellent package..
In the "A More Interesting Example" you provided for [Highstock](http://jkunst.com/highcharter/highstock.html),  the _turnopposite_ parameter is set to TRUE, yet the y-axis on the second plot (corresponding to volume), appears on the wrong side (as if _turnopposite_ was set to FALSE.

Is this a bug?

Thanks

[2018-01-27 21:32] robsalasco opened #391 "shiny not launching modal dialog at second time"
Hi Joshua!,

I was using the highchart pie widget to call a bootstrap modal dialog using shiny, but at the second click the dialog isn't showing anymore. Do you know exactly what's going on?

Thank you, Roberto.

[code]

Created on 2018-01-27 by the [reprex package](http://reprex.tidyverse.org) (v0.1.1.9000).

[2018-01-28 14:09] robsalasco commented on #391
Found a solution here: https://stackoverflow.com/questions/44162098/shiny-oninput-react-on-every-click-js

[2018-01-28 14:09] #391 closed

[2018-01-30 16:06] tedhwang opened #392 "hc_add_annotations() not working for developer version"
Hi,

I downloaded developer version yesterday to make use of highchart2() and found that hc_add_annotations() doesn't work as usual. Could you check if this is really the issue with the newer version or a mistake from my side. (I could provide my example code if you'd like)

Thanks.

[2018-01-30 16:19] jbkunst commented on #392
Hi @tedhwang

Yes, there are some changes due highchartsjs (v6) have an annotation module, so the (old) pluging is not required.

You can a related question and an example here https://stackoverflow.com/questions/47935128/highcharter-annotation-on-date-x-axis-not-working-r/48425405#48425405

Tell me if this help you!

[2018-01-30 16:40] tedhwang commented on #392
Hi @jbkunst

After appropriately applying the code in the example, I get 'Error: All arguments must be named list'.

I'm using highchart2() %>% hc_add_series_list() for speed concerns. Do you think not using hchart() could have caused the error?

Thanks for the quick feedback btw. (really appreciate it!)

[2018-01-30 17:47] jbkunst commented on #392
Mmm... Let's work with a reproducible example. Can you post one?

[2018-01-30 19:27] tedhwang commented on #392
library(highcharter)
library(dplyr)
library(data.table)

df<- data.table(x=1:10,y= c(rep(5,5),rep(10,5)), caption=c("line 1","line 2" ))

df_2 <- df %>%
  group_by(y) %>%
  do(data = list_parse(.)) %>%
  mutate(type = "line") %>%
  #mutate(yAxis=1) %>%
  rename(name=y)

hc <-
  highchart2( ) %>%
  hc_add_series_list(df_2)# %>%

# annotation method 1 (from your example)
hc <-
hc %>%
  hc_annotation

[2018-01-30 19:28] tedhwang commented on #392
`
library(highcharter)
library(dplyr)
library(data.table)

df<- data.table(x=1:10,y= c(rep(5,5),rep(10,5)), caption=c("line 1","line 2" ))

df_2 <- df %>%
  group_by(y) %>%
  do(data = list_parse(.)) %>%
  mutate(type = "line") %>%
  #mutate(yAxis=1) %>%
  rename(name=y)

hc <-
  highchart2( ) %>%
  hc_add_series_list(df_2)# %>%

# annotation method 1 (from your example)
hc <-
hc %>%
  hc_annotati

[2018-01-30 19:54] jbkunst commented on #392
If you can format your post a bit :sweat_smile: it would be nice :smile:

[2018-01-30 20:08] tedhwang commented on #392
My apology (I'm new to Github) Hope this helps! :)

[2018-01-31 16:26] tedhwang commented on #392
Hi jbkunst, never trying to hurry you but was wondering if there's any updates. Were you able to get any better results?

[2018-02-01 02:11] rosseji opened #393 "`coloredarea` chart type error"
Thanks for all the hard work you do on the package.

I think I've done something wrong, and I can't get the `coloredarea` chart type to work:

[code]
![screen shot 2018-02-01 at 1 07 34 pm](https://user-images.githubusercontent.com/21113591/35657554-2c23bb94-0751-11e8-9b2f-2727bb6d5521.png)

[code]
![screen shot 2018-02-01 at 1 09 39 pm](https://user-images.githubusercontent.com/21113591/35657570-

[2018-02-01 12:28] Bryant-zhu opened #394 "vertical scroll highcharter object on mobile device of flexdashboard"
hi there
 I made a demo dashboard originally to send on mobile device .
it was worked all good , but on mobile device , it is extremely  to scroll down vertically.

it there any way to improve this ? or I could just use all the static image instead of interactive charting for highchart . thanks

[2018-02-01 12:30] Bryant-zhu commented on #24
@jbkunst  hey , what if I only what highcharter to be static on my html file ? thanks

[2018-02-01 18:13] Gaarrrry commented on #183
Hi @joh024,

The step by step that you've provided is super helpful - but I'm running into some issues implementing this into my own code.

I'm trying to link 3 pie charts to one common legend. I can get the 3 pie charts to render, but there is no legend, and when I do enable a legend, it doesn't control all three pie charts, just the one it is associated with. I think this is either an issue with

[2018-02-07 17:39] steve-liang opened #395 "column chart, hc_xAxis with only one value"
Hi Joshua,

Thanks for such a great package. It's one of the best plotting packages in the open source realm. Since then I've been studying highcharts API and I am really glad I stumbled upon this.

I wonder if you ever get asked this questions. I tried to search through open/closed issues here and don't find anything related.

So in a multiple bar charts like this in your example. Everything work

[2018-02-07 22:10] steve-liang commented on #395
I got a workaround with use of as.list().

highchart() %>%
hc_chart(type = "column") %>%
hc_title(text = "A highcharter chart") %>%
hc_xAxis(categories = **as.list**(2012:2016)) %>%
hc_add_series(data = c(3900),
name = "Downloads")

[2018-02-08 13:19] jbkunst commented on #395
Hi @steve-liang !

Yes, that is the solution, similar to #119 #118 #65 #71.

I will try to make a fix to avoid that

[2018-02-11 03:44] slowkow opened #396 "scatter plot with colorAxis"
Can I use a color scale with scatter plots?

[Your comment on this Stackoverflow question][1] suggests it is not possible:

[1]: https://stackoverflow.com/questions/44071866/using-coloraxis-in-a-bubble-chart-in-highcharter-r

The related issue #317 has a hack that suggests this might be possible.

Here's my plot:

[code]

![image](https://user-images.githubusercontent.com/209714/36069208-12d805d2-

[2018-02-11 03:59] slowkow commented on #396
This might be a good starting point to learn how to make a proper color scale for scatter plots:

http://jsfiddle.net/w9nuha8n/4/

Paweł Fus posted this fiddle in [a related Stackoverflow post][1].

[1]: https://stackoverflow.com/a/31161304/330558

[2018-02-11 19:28] slowkow commented on #396
I hacked the Stackoverflow code to make a colorbar for a scatter plot.

https://gist.github.com/slowkow/2734989182ea46e3a0a8a7299c2e25f9

<img width="385" alt="scatter-with-colorbar_html" src="https://user-images.githubusercontent.com/209714/36077255-807947bc-0f36-11e8-8dc7-d17e590c4171.png">

---

It looks like this file might be a good place to start hacking:

https://github.com/jbkunst/highchar

[2018-02-12 00:16] slowkow opened #397 "test failure due to yaml.load"
This is a weird one.

Before I submit a pull request, I wanted to first confirm that highcharter tests pass without changing any of the code. Then, I can check that my changes do not fail the tests.

Without changing any code, I found that one of the tests fails. As far as I can tell, this test should not fail. I don't understand why it fails. Maybe you have an idea?

When I clone `jbkunst/highcha

[2018-02-12 01:47] slowkow opened #398 "export_hc(..., as = "is") does not format colors correctly"
The `export_hc()` function has some hacky usage of `stringr::str_replace()`, and it sometimes causes problems.

I have a pull request almost ready that should fix this issue.

Here is a minimal example that demonstrates one problem:

[code]

The `test_heatmap.js` file has errors. Notice that the first color is `#FCFFA4"` (it is missing the first quote `"`). It should be `"#FCFFA4"`.

[code]

<deta

[2018-02-13 00:34] slowkow commented on #397
@hadley @jimhester Do you have any ideas about why the same line of code fails in `devtools::test()` and succeeds in an interactive R session?

I'm sorry to bug you, but I thought maybe you might have run into something like this before.

[2018-02-13 14:48] jbkunst commented on #396
Hey @slowkow ,

Thanks so much to come up with this. This is a really nice missing feature. I'm checking the jsfiddle and your gist and it's seems _easy_ to implement if we include as a custm script.

Thanks again!

[2018-02-13 14:52] #398 closed

[2018-02-13 14:53] slowkow commented on #396
Great! Once you have some code, I'll be happy to test it.

Ideally, I would expect `highcharter` to automatically mimic `ggplot2`, so something like this would happen:

[code]

Excited to see what you come up with! 😄

[2018-02-13 18:45] jbkunst commented on #368
@samWieczorek

I think will be possible! More info in #396 (so I will close this issue)

Regards!

[2018-02-13 18:45] #368 closed

[2018-02-13 19:13] jbkunst commented on #393
@rosseji

Sorrrrrryyyy for my late response!

You need to remove the `group`  parameter in the `hcaes`

[code]

Regards!

[2018-02-13 19:13] #393 closed

[2018-02-13 19:18] jbkunst commented on #389
Hi @samuelhuerga

Soooorrryyy for my late reponse!.

Two alternatives:

[code]
![image](https://user-images.githubusercontent.com/56481/36168916-7544beb8-10d9-11e8-9045-4e0f36f4da7c.png)

Next time you can post your question in stackoverflow, I prefer use this space for requests/bugs topics ;)!

[2018-02-13 19:18] #389 closed

[2018-02-13 19:19] rosseji commented on #393
All good!

Great! It works, Thanks.

[2018-02-14 00:47] TitovAV opened #400 "Shiny, hc_add_series dynamically and multiple"
Dear Joshua,
Thanks for very nice and useful package
I've a question about following feature in highcharter package for Shiny projects
I made checkboxGroupInput in my Shiny project. User may select multiple boxes. I want create plot in Highcharter package, which will be show selection series (many lines in one plot). By "hchart" function (data, type, hcaes(x, y, group)) it's easy, but this functio

[2018-02-14 01:33] jbkunst commented on #400
Hi @TitovAV!

Mmm.. may be the question need to be why hchart don't work :/. Please, ensure you're using the development version of highcharter.

Read https://cran.r-project.org/web/packages/highcharter/vignettes/charting-data-frames.html can help too.

Finally you can do something like this:
[code]

Finally, to this type question I recommend you use stackoverflow. I prefer use github for requests

[2018-02-14 10:22] #400 closed

[2018-02-14 15:50] jbkunst commented on #390
Hi @lalas .

Not a but but a naming problem and a very lack of documentation in this parameter/function :disappointed: .

The `turnopposite ` parameter put the even axis (1, 3, 5, ...) in the left side and the odds (2, 4, 6, ...) axis in the right side

[2018-02-14 15:55] jbkunst commented on #387
Hi @marciolegal !

Can you generate a minimal reproducible example replicating the behavior you said? So I can test and try to fix that

[2018-02-14 16:07] lalas commented on #390
Hi jbkunst,

Thank you for the clarification.... make sense! :)

[2018-02-14 16:07] #390 closed

[2018-02-14 16:35] jbkunst commented on #380
Hi @Jeeva-Ganesan

Do you still have the issue? Did you triedusing the development version? Usually is a explorer issue, did you tried using chrome?

[2018-02-14 17:49] jbkunst commented on #372
Hi @tstoyc and @jflycn

In this case I think it's better work with data frames to make give explicit the data to highcharts.

[code]
![image](https://user-images.githubusercontent.com/56481/36219400-fb748b0a-1195-11e8-919d-c4bb84afd083.png)

Next time you can post this type of question in stackoverflow rather than here where I prefer keep topics like features or bugs :)!

[2018-02-14 17:49] #372 closed

[2018-02-14 18:16] jbkunst commented on #374
You need to add the `draggable-points.js` too to use that pluging.

In other hand, __sadly__ the regression line don't redraw if you drag a point, but may be you can ask in https://github.com/streamlinesocial/highcharts-regression/issues if this is possible  or not.

[code]

[2018-02-14 18:16] #374 closed

[2018-02-14 18:35] jbkunst commented on #367
@germayneng

If you use `hc_add_series` then you _need_ to specify categories in the axis, beacuse `hc_add_series` try to be don't invasive with other options/parameters. In other hand, `hchart` try to be _smart_ and calculate the categories for you.

[2018-02-15 03:14] Jeeva-Ganesan commented on #380
Hi. Now with the development version, it seems weird, when i click zoom option in Rstudio, it opens up the graph nicely, but when i click any download option, nothing is happening. No blank page, nothing, no reaction for it. Is there a default location it is saving the downloads? Print Chart works, none of the other download option works.

However if i try any of this in safari or chrome after dep

[2018-02-16 17:21] dacercoolex commented on #380
Hi.

I'm having the same issue with the development versión. When a open the console of Chrome to track the problem it shows this message:

[code]
For me the options CSV, XLS and View data table are duplicated as well. I'm using Chrome Version 64.0.3282.140 (Build oficial) (64 bits)

[2018-02-18 12:50] HRAnalytics opened #401 "Survival plots via highcharter"
I just tried to make some survival plots via highcharter and have no result - just white screen.
Can't even replicate examples in documentation.
Highcharter version: 0.5.0.9999

Example:
lsurv2 <- survfit(Surv(time, status) ~ x, aml, type='fleming')
hchart(lsurv2, fun="cumhaz")

Can somebody replicate this example on this highcharter version?

[2018-02-18 17:04] jbkunst commented on #401
Hi @HRAnalytics

http://rpubs.com/jbkunst/highcharter-issues-401

Be sure you have the last development version.

[2018-02-18 17:45] HRAnalytics commented on #401
Doesn't work, highcharter version the same, but R version is 3.4.3.

Session info ---------------------------------------------------------------------------------------------------------------
 setting  value
 version  R version 3.4.3 (2017-11-30)
 system   x86_64, mingw32
 ui       RStudio (1.1.383)
 language (EN)
 collate  Russian_Ukraine.1251
 tz       Europe/Helsinki
 date     2018-02-18

Pac

[2018-02-20 01:41] cegbuna opened #402 "Synchronization of multiple charts"
Hi,

Thanks for the great package.

Is there a way to synchronize multiple charts like what is done [here](https://www.highcharts.com/blog/snippets/synchronisation-of-multiple-charts/)

Thanks.

[2018-02-20 13:47] LeviWeible opened #403 "hchart issues with map_if()"
There appears to be an issue with the .Call function inside map_lgl inside the map_if function when using a data.frame with hchart. Whem I run the code below I get the following error:
"Error in map_lgl(.x, .p, ...) : object 'map_impl' not found"

Thank you

(This example is pulled directly from the charting data.frames example page linked on the home page)
`#### PACKAGES ####
rm(list = ls())
libr

[2018-02-20 14:44] HRAnalytics commented on #401
Still have problem:
![scr2](https://user-images.githubusercontent.com/28641624/36430202-4185d0f6-165d-11e8-9aa5-f9f57edfe9bf.png)
![scr1](https://user-images.githubusercontent.com/28641624/36430204-41aeb1e2-165d-11e8-942d-298406e1cd53.png)

Some simple plots not rendering too

[2018-02-21 13:00] tonyk7440 commented on #268
Hi @jbkunst
I've tried the above code but it seems like the date labels no longer work, is this functionality still supported?

package version: highcharter_0.5.0

[code]

[2018-02-21 14:51] jbkunst commented on #268
Hi @tonyk7440 ,

Can you put an image of what you get and tell what you expect?

[2018-02-21 14:57] tonyk7440 commented on #268
I would expect to get:
![image](https://user-images.githubusercontent.com/4944073/36486845-70b0ba3e-1717-11e8-8093-59e4838a744d.png)

But I get the following:
![image](https://user-images.githubusercontent.com/4944073/36486827-6236686e-1717-11e8-907f-a8c2f537a75a.png)

Notice that the custom formatting of x-axis labels is not working in my example

[2018-02-21 18:01] #380 closed

[2018-02-21 18:01] jbkunst commented on #380
Hi @Jeeva-Ganesan and @dacercoolex

Can you download and test again please?

[2018-02-21 18:06] jbkunst commented on #401
Hi @HRAnalytics

Please can you download the development version and try again?

(You have the  #399 related version and we did a mistake)

[2018-02-21 18:49] HRAnalytics commented on #401
Thank you! its ok now after updating package

[2018-02-21 18:49] #401 closed

[2018-02-21 18:58] jbkunst commented on #392
Hi @tedhwang

1e100 sorry for the delay.

You can use `highchart` or `hchart`  now because include de boost module by default. Remember: the boost module is not for generate a htmlwidget quickly but to don´t have perfomance problems with tooltips when you load a lot of points. See  https://github.com/jbkunst/highcharter/issues/264#issuecomment-278848430

By other hand, `highcharts2` don't have man

[2018-02-21 19:07] jbkunst commented on #387
Hi @marciolegal !

Can you generate a minimal reproducible example replicating the behavior you said? So I can test and try to fix that.

In the meantime I'll close the issue due inactivity, We can reopen when you post the example ;)!

[2018-02-21 19:07] #387 closed

[2018-02-21 19:55] jbkunst commented on #268
@tonyk7440

What you're seeing is the week format. Try to expand the chart and you will see the expected result.

So you need to add the 'week = '%d of %b' value in the list of the `dateTimeLabelFormats ` argument.

Please, try this examples and change the wide of the chart to see what happens
[code]

[2018-02-22 03:29] Jeeva-Ganesan commented on #380
Yes, duplicate issue is solved. Thanks @jbkunst

[2018-02-22 15:12] tonyk7440 commented on #268
Works perfect, thank you @jbkunst !

[2018-02-22 16:38] dacercoolex commented on #380
Verified, now it works like a charm! Thank you @jbkunst

[2018-02-22 21:39] jbkunst commented on #392
@tedhwang

I'll close the issue but we can reopen if is needed ;)!

[2018-02-22 21:39] #392 closed

[2018-02-22 21:48] tedhwang commented on #392
Awesome, thanks Joshua for clarification.

Can I ask last questions?

   - Is there any advantage in using highchart2() over highchart() now?
   Will highchart2() be default after official package update?
   - Is hc_add_series_list() still faster than hchart()?
   - I found a huge speed advantage so far,  but won't that be true in the
      future?

Thanks!

-Ted

On Thu, Feb 22, 2018 at 3:39 PM,

[2018-02-22 21:51] jbkunst commented on #347
Hey @mavelli

Do you have a reproducible example for test?

Maybe this will dfixed with the recently PR #399

[2018-02-23 18:15] dacercoolex commented on #380
Hi. I don't know if I'm supposed to report this here but, since started to happen after the commit which solved this issue I'll take my chances. Set the lang options (options(highcharter.lang = hcopts)) stop working after the update. Any clues @jbkunst ?

[2018-02-23 18:17] jbkunst commented on #380
@dacercoolex Open a new issue, no problem. Don't forgert the __repr(oroducible)ex(ample)__ please

[2018-02-23 18:42] dacercoolex opened #405 "Set options with highcharter.lang is not working"
Hi,

After the last commit setting highicharts options (as explained on #321) doesn't work for me anymore. Below how I've set them while working:

[code]

Thanks in advance for your help.

[2018-02-23 18:57] dacercoolex commented on #405
I've put  the options inside a function which is called from the beginning of the ui.R and now it's working again. Previously I'd them on the global.R outside any function. I don't know if this really was an issue, but may this could help anyone facing the same thing.

[2018-02-23 19:30] #405 closed

[2018-02-26 15:59] jbkunst commented on #405
This is related to #334

[2018-02-26 16:10] jbkunst commented on #394
Hi @Bryant-zhu

Please, provide a simple reproducible example to try to see what happens

[2018-02-28 15:00] samWieczorek opened #406 "color lost with data over 5000 rows"
Hi,
I have a strange behaviour with a little piece of code. I want to plot n points with a specific color.
The code is  :
n <- 5000
ds <- data.frame(x=abs(rnorm(n)),y=abs(rnorm(n)), color=rep("orange",n))

highchart() %>%
 hc_add_series(data=ds, type="scatter")

from n=1 to 4999, the plot is ok with orange points, but over 5000, they became blue ....
I have this issue on one machine but on another

[2018-02-28 15:24] jbkunst commented on #406
Hi @samWieczorek !

Really strange the behaviour. Not sure what is going on. My suspect is highchartsJS and not highcharter.

Any way. You need all the points with one color? If this is the case is better yo set the color to the series (as the next example) instead of giving the color to each point (your code). This will result in a ligthweight widget due you don't send the "orange" value 5000 tim

[2018-03-01 08:44] samWieczorek commented on #406
Hi
and thank you for your quick answer.
In fact, my code is a bit more complicated than the example I have given. My goal is to be able to draw different regions in the scatter plot (defined by two thresholds). The color of the points differ from a region to another

My real code is the following :
[code]

where df contains three slots : x, y and color

Maybe instead of using only one serie, I can

[2018-03-01 13:35] jbkunst commented on #406
Yes, I think that is a _clearer_ approach.

A suggestion: You can use ´plotLines´ to draw the treshold to draw the lines. I think is easy (you don't need to calculate max) and clearer and you have a lot of options https://api.highcharts.com/highcharts/xAxis.plotLines

[code]

![image](https://user-images.githubusercontent.com/56481/36847148-1a367bc8-1d3c-11e8-8ea2-fc7cef53d9f8.png)

[2018-03-01 13:54] samWieczorek commented on #406
I have resolved my problem by upgrading R to the devel version. But still interesting by the reason that made if failed

[2018-03-01 13:54] samWieczorek commented on #406
Thanks for the tip !!

[2018-03-01 13:57] #406 closed

[2018-03-02 00:08] pranavpandya84 opened #407 "divBackgroundImage not working"
divBackgroundImage is not fetching the image

`hc_chart(
    divBackgroundImage = url_of_chosen_image
    )`

R version 3.4.1 (2017-06-30)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

[2018-03-02 01:27] jbkunst commented on #407
Hi @pranavpandya84 ,

Did you open in a browser? Sometimes the rstudio viewer don't work.

[2018-03-02 09:37] pranavpandya84 commented on #407
Yes, I tried opening in Chrome and Internet explorer browser but it's not capturing background image. I am trying reproduce example from here: http://jkunst.com/r/giving-a-thematic-touch-to-your-interactive-chart/

Below is the exact code:

[code]

[2018-03-02 11:26] alexktan opened #408 "Draggable points"
I'm trying to create draggable points on top of a boxplot. However if I drag the points up and down, it moves the points left and right. Any idea if I can drag the points left and right, it would move left and right?
Many thanks!

hcboxplot(x = iris$Sepal.Width, var = iris$Species) %>% hc_chart(type = "bar", animation = FALSE, inverted = FALSE) %>% hc_add_series(data = iris, type = "scatter", hcae

[2018-03-02 12:59] jbkunst commented on #407
With the code I can get the chart with the background.

Some questions:

- Do you have the development version of highcharter?
- Can be the url blocked in the where you are?

Finally, open in chrome, then press F12 and see if there something in the "Console" part.

[2018-03-02 13:34] pranavpandya84 commented on #407
I have now installed **development** version and it's working perfectly fine. Thanks a lot Joshua.

[2018-03-02 13:40] #407 closed

[2018-03-02 17:59] tungmilan opened #409 "Can not add mathematical expression, superscript, subscript to highcharter axis or legend"
Great package! Thank you very much for developing this!

I was wondering how I can add mathematical expression, superscript, subscript to highcharter axis or legend? I tried to use `expression` but it didn't work.

[code]

![rplot](https://user-images.githubusercontent.com/6590141/36913758-d0e41eca-1dff-11e8-9cc1-09d1aa3cc880.png)

[2018-03-02 18:21] tungmilan commented on #409
Thanks @jbkunst for the prompt reply! This is what I got after the change you suggested

[code]

![rplot02](https://user-images.githubusercontent.com/6590141/36914815-67e596fc-1e03-11e8-87ff-b5b997d2e3cb.png)

[2018-03-02 18:28] jbkunst commented on #409
@tungmilan , Is that what you want?

[2018-03-02 18:34] tungmilan commented on #409
@jbkunst : No what I want is similar to [this](https://stackoverflow.com/questions/37554118/ggplot-inserting-space-before-degree-symbol-on-axis-label). Thanks!

![rplot02](https://i.stack.imgur.com/SILdo.jpg)

[2018-03-02 20:41] jbkunst commented on #409
Ok,

You need to change to html world. So you need:

- See how "tags" works. like sup, sub https://www.w3schools.com/tags/tag_sup.asp
- Enabled the use of html in highcharts text (usually with `useHTML = TRUE`) https://stackoverflow.com/questions/28963286/using-image-tag-as-series-name-in-highcharts
- Use the _mathematical_ symbols with  their hexadecimal form https://www.w3schools.com/charsets/re

[2018-03-02 20:49] boxuancui opened #410 "categorical color in hctreemap2"
In `hctreemap`, or rather `treemap`, I can specify the type of color variable as categorical, and `hctreemap` could pick it up seamlessly.

Is there something similar in `hctreemap2` given `hctreemap` is deprecated?

[2018-03-02 21:50] tungmilan commented on #409
Good to know! Thanks @jbkunst !

[2018-03-02 21:50] #409 closed

[2018-03-02 22:04] jbkunst commented on #409
@tungmilan I edited the code. I forgot to add `hc_tooltip(useHTML = TRUE, shared = TRUE) %>% `

[2018-03-02 22:13] tungmilan commented on #409
@jbkunst Thanks again! One last question: how can I modify the limit on the y-axis e.g. `ylim = c(5, 35)`? I couldn't find such information anywhere in the documentation

[2018-03-02 22:42] jbkunst commented on #409
Please, read:

- https://dantonnoriega.github.io/ultinomics.org/post/2017-04-05-highcharter-explainer.html
- https://api.highcharts.com/highcharts/yAxis
- Then https://api.highcharts.com/highcharts/yAxis.min

[2018-03-07 01:55] krjwpark opened #411 "hchart_Encoding Problem?"
Data about Pokemon... and I brought Korean Type name.
Data using dplyr.
`dstype`
[code]
And...
[code]
**Warning message:
In writeLines(html, file, useBytes = TRUE) :
  invalid char string in output conversion**

Also, when I use English column, it shows same message..

[code]
**Warning message:
In writeLines(html, file, useBytes = TRUE) :
  invalid char string in output conversion**

However, If I

[2018-03-09 17:05] JBRINGLEY commented on #331
@upcnet-dmendez your solution works only for CSV for me. Did you ever get the PNG, PDF, etc options to work?

[2018-03-14 08:59] upcnet-dmendez commented on #331
@JBRINGLEY Yes, all options work to me. Have you done any modification to the code that can change the result?

[2018-03-15 13:56] meetshah31094 opened #412 "Sankey in highcharter using R"
How do we create sankey in highcharter using R? Are there any sample codes? What is the format of the input?

[2018-03-15 14:11] jbkunst commented on #412
Hi @meetshah31094

You can look in the meantime this file https://github.com/jbkunst/highcharter/blob/master/dev/highcharts-v6.R#L43

In the next release I will put that examples in the highcharter website.

Regards,

[2018-03-15 14:11] #412 closed

[2018-03-15 14:20] meetshah31094 commented on #412
Hi @jbkunst
I saw this file. However, i am not getting any output when I run the code snippet of sankey even though i copy pasted the code as it is

[2018-03-15 14:20] jbkunst commented on #412
Did you update to the _development_ version?

[2018-03-15 14:21] meetshah31094 commented on #412
How do we do that?

[2018-03-15 14:39] meetshah31094 commented on #412
ERROR: dependencies 'igraph', 'lubridate', 'yaml' are not available for package 'highcharter'
* removing 'C:/Users/Meet.Shah/Documents/R/win-library/3.4/highcharter'
Installation failed: Command failed (1)

[2018-03-15 14:39] meetshah31094 commented on #412
ERROR: dependencies 'igraph', 'lubridate', 'yaml' are not available for package 'highcharter'
Installation failed: Command failed (1)

[2018-03-15 14:39] meetshah31094 commented on #412
Getting this error

[2018-03-15 14:51] jbkunst commented on #412
Update/install those packages and try again.

[2018-03-15 14:57] meetshah31094 commented on #412
ERROR: lazy loading failed for package 'highcharter'

Getting this now

[2018-03-15 20:46] bocs2993 commented on #362
I'm getting the exact same thing. App renders beautifully with highchart functions but not highchart2 with the same errors upon inspection...

[2018-03-15 21:04] bocs2993 commented on #362
You can use these to reproduce the error.

[exampleFail.xlsx](https://github.com/jbkunst/highcharter/files/1817081/exampleFail.xlsx)
[app copy.R.txt](https://github.com/jbkunst/highcharter/files/1817082/app.copy.R.txt)

[2018-03-16 12:42] meetshah31094 commented on #412
@jbkunst  can hcharts be used to render the sankey in rshiny?

[2018-03-16 13:38] jbkunst commented on #412
@meetshah31094  Yes. Every highcharter chart can work in shiny ;)!

[2018-03-16 13:49] bocs2993 opened #413 "Shiny and Highchart2 - Failed to load resource"
Hi, my shiny app works fine, but I want to change all highchartOutput() to highchartOutput2() because I have 20000+ points..  So I modified:

`highcharter::highchart()` to `highcharter::highchart2()`
`highcharter::renderHighchart()` to `highcharter::renderHighchart2()`
`highcharter::highchartOutput()` to `highcharter::highchartOutput2()`

But now I get an error that I don't know how to handle:
ERR

[2018-03-16 14:00] jbkunst commented on #413
The development version of highcharter uses the highchartsJS __v6__ which use the boost modele as default. Please update and try using the  `highcharter::renderHighchart()`.

Tell me how it goes.

[2018-03-16 14:08] bocs2993 commented on #413
I'm using highcharter 0.5.0... Is there a more recent version?

When I run the code with highchart(), renderHighchart(), and highchartOutput() it takes 20 seconds just to load the graph with ~10000. Is that expecting? It's a pretty long load time for a shiny app.

[2018-03-16 14:29] bocs2993 commented on #413
The development version did not use my color variable, and there is no longer a tooltip anymore...

**Before:**
![image](https://user-images.githubusercontent.com/14222850/37525954-3581d244-28fc-11e8-8012-0b1aac4ae528.png)

**After:**
![image](https://user-images.githubusercontent.com/14222850/37526024-60def03e-28fc-11e8-998e-32d80b7389bf.png)

[2018-03-16 14:39] jbkunst commented on #413
@bocs2993 , Can you provide a [reprex](http://reprex.tidyverse.org/) please?

[2018-03-16 14:59] bocs2993 commented on #413
It appears to be size related. When I run the code off of the example I provided above, it works as expected.

But when I use my actual, very large dataset, it fails. Here's an example large data set so you can watch this in action.
[app copy_new.R.txt](https://github.com/jbkunst/highcharter/files/1819665/app.copy_new.R.txt)
[exampleFailLarge.xlsx](https://github.com/jbkunst/highcharter/files/1819

[2018-03-16 15:12] bocs2993 commented on #413
Also, while I have you, how do I control the size of the points? I can't find the solution anywhere It doesn't seem to care what number I put in for size, there's always just huge and/or tiny. I've tried including units as a string and entering the size as numeric and they're always the same...

[2018-03-16 17:05] bocs2993 commented on #413
@jbkunst Any ideas?

[2018-03-16 18:36] tungmilan opened #414 "highcharter with tidy evaluation"
Hello jbkunst,

I was wondering if you can modify `highcharter` to work with tidy evaluation in `ggplot2`? Please see a reprex below. Thanks!

[code]

![](https://i.imgur.com/9rLyTYz.png)

[code]

**Session Info**

[code]

Created on 2018-03-16 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-16 20:26] bocs2993 commented on #413
@jbkunst Any suggestions?

[2018-03-18 16:26] ctmann commented on #141
@Yang-Tang Can you post your code?

[2018-03-19 02:13] shrektan commented on #141
@ctmann here it is:

[code]

[2018-03-19 03:39] jbkunst opened #415 "remove whisker dependency"

[2018-03-19 10:11] meetshah31094 commented on #412
@jbkunst can we create custom tooltip in R using hchart? I want to specify a different tooltip for nodes and links. Is that possible?

[2018-03-19 18:39] meetshah31094 commented on #412
??

[2018-03-20 11:51] AA221479 opened #416 "highcharter solid gauge stops colors"
Hello,
I am trying to create a solid gauge chart with highcharter. I want to mimic this kind of solid gauge in highcharts, including the color stops:
http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/demo/gauge-solid/

    yAxis: {
        stops: [
            [0.1, '#55BF3B'], // green
            [0.5, '#DDDF0D'], // yellow
            [0.9, '#DF5353']

[2018-03-20 11:51] #416 closed

[2018-03-20 11:53] AA221479 opened #417 "highcharter solid gauge stops colors"
Hello,
I am trying to create a solid gauge chart with highcharter but I am having troubles to display different colors according to the value in the chart. I want to mimic this kind of solid gauge in highcharts, including the color stops:
http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/demo/gauge-solid/

    yAxis: {
        stops: [
            [0.1, '

[2018-03-20 13:04] meetshah31094 commented on #412
nodeFormatter doesn't seem to work. I want to display additional data at nodes but it is displaying undefined in the tooltip

[2018-03-20 15:29] meetshah31094 opened #418 "Custom tooltip for nodes in Sankey"
I am trying to create a custom tooltip for nodes, i.e, I want to display different values instead of the sum of all outgoing weights. Is that possible?

[2018-03-21 08:35] AA221479 commented on #417
Hi! I've found a work around for this, predefining the color according to the value to be displayed like this:

[code]
Now, I would like to be able to include color lines in the gauge to indicate the reference values for the stops, as in here: https://jsfiddle.net/ym2tvzy7/1/
![scbty](https://user-images.githubusercontent.com/37580342/37700020-f0039b1e-2ce1-11e8-88ab-adc63637e5b1.png)
In highchart

[2018-03-23 10:17] meetshah31094 opened #419 "Define stops based on conditions on data in heatmap"
I want to create a heatmap where the positive numbers are shown in a different color gradient and negative numbers are shown in a different color gradient. I came across stops but I dont know how to define the stops by giving a condition.

[2018-03-25 17:33] peeyooshc opened #420 "Error in mutate_impl(.data, dots) : Column `x` is of unsupported type quoted call"
Hoping you can help, I upgraded a package, and now highcharter has stopped working.

while executing this example
```hchart(mpg, "point", hcaes(x = displ, y = cty))```

sessionInfo:

[code]

[2018-03-25 18:29] jbkunst commented on #420
Hi @peeyooshc , try to update all the packages if is possible, specially tidyverse

[2018-03-25 19:49] peeyooshc commented on #420
I've tried but no good. I think it has to do wth changes to how quosures are handled in rlang, but I can't seem to go back. Didn't manage to implement packrat on this project

[2018-03-25 22:08] jbkunst commented on #420
[code]

[2018-03-26 05:58] vinoth4stat opened #421 "Could not find function "hctreemap2" in R"
Dear jbkunst,
I have tried to reproduce as per the link https://rpubs.com/about/getting-started but getting error message as "Error in hctreemap2(data = GNI2014, group_vars = "continent", size_var = "population") :
  could not find function "hctreemap2"". Have verified the dependencies but not sure what is missing.
Please share your view please?
R Version: 3.4.3
highcharter: 0.5.0